@charset "UTF-8";
/**! 
 * @author colpu
 * @copyright mingfu network
 * 本配置基于scss框架compass,在运用时请注意是否安装sass,compass
 */
/* @media all and (orientation:portrait){ //这是匹配竖屏的状态，竖屏时的css代码
  @content;
}
@media all and (orientation:landscape){ //这是匹配横屏的状态，横屏时的css代码
  @content;
} */
/**
 * 自定设置百分比 tags_per_width
 * 实用范围 知道槽间距为margin-right, 子标签左右对齐父元素
 * @parm $n 没换多少个标签
 * @parm $gutter 每个标签间的槽距
 */
/**
 * 获取颜色map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取字体map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取层级map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取圆角map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取圆角map方法
 * @parm $k 颜色的key值
 */
/* line 3, sass/model/placeholder/_form.scss */
.form {
  font-size: 14px;
}
/* line 5, sass/model/placeholder/_form.scss */
.form dt {
  color: #999;
}
/* line 8, sass/model/placeholder/_form.scss */
.form dd {
  margin-bottom: 10px;
}
/* line 11, sass/model/placeholder/_form.scss */
.form label {
  cursor: pointer;
}
/* line 14, sass/model/placeholder/_form.scss */
.form label strong {
  font-family: "SimSun";
  font-weight: normal;
  color: #ff4216;
  margin: 0 3px;
}
/* line 24, sass/model/placeholder/_form.scss */
.form input, .form button {
  margin: 0 3px 0 0;
  vertical-align: middle;
}
/* line 28, sass/model/placeholder/_form.scss */
.form .input, .form .textarea, .form textarea, .form .select, .form select, .form .select-multiple {
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #999;
  vertical-align: middle;
  -moz-box-shadow: 0 2px 3px 0 #eeeeee inset;
  -webkit-box-shadow: 0 2px 3px 0 #eeeeee inset;
  box-shadow: 0 2px 3px 0 #eeeeee inset;
  outline: none;
}
/* line 38, sass/model/placeholder/_form.scss */
.form .input:focus, .form .textarea:focus, .form textarea:focus, .form .select:focus, .form select:focus, .form .select-multiple:focus {
  border-color: #3a98ff;
  -moz-box-shadow: 0 2px 3px 0 #eeeeee inset, 0 0 5px 0 #3a98ff;
  -webkit-box-shadow: 0 2px 3px 0 #eeeeee inset, 0 0 5px 0 #3a98ff;
  box-shadow: 0 2px 3px 0 #eeeeee inset, 0 0 5px 0 #3a98ff;
}
/* line 43, sass/model/placeholder/_form.scss */
.form .input {
  height: 16px;
  line-height: 16px;
}
/* line 47, sass/model/placeholder/_form.scss */
.form .input-block {
  width: 100%;
  height: 26px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 52, sass/model/placeholder/_form.scss */
.form .select {
  height: 26px;
  padding: 0;
  line-height: 26px;
  vertical-align: top;
}
/* line 58, sass/model/placeholder/_form.scss */
.form .select-multiple {
  padding: 0;
  line-height: 26px;
  vertical-align: top;
}
/* line 63, sass/model/placeholder/_form.scss */
.form input[type="checkbox"], .form input[type="radio"], .form .checkbox, .form .radio {
  margin: -2px 3px 0 0;
  vertical-align: -2px;
  cursor: pointer;
  *margin: -1px 0 0 0;
  overflow: hidden;
}
/* line 70, sass/model/placeholder/_form.scss */
.form .textarea {
  resize: vertical;
}
/* line 73, sass/model/placeholder/_form.scss */
.form .rush-code {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 1.2;
}
/* line 79, sass/model/placeholder/_form.scss */
.form .input-xs {
  width: 60px;
}
/* line 82, sass/model/placeholder/_form.scss */
.form .input-sm {
  width: 120px;
}
/* line 85, sass/model/placeholder/_form.scss */
.form .input-lg {
  width: 180px;
}
/* line 88, sass/model/placeholder/_form.scss */
.form .input-xl {
  width: 240px;
}

/* line 2, sass/model/placeholder/_close.scss */
.tips-close .J_close {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  cursor: pointer;
  -moz-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
/* line 9, sass/model/placeholder/_close.scss */
.tips-close .J_close i {
  vertical-align: top;
  -moz-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
/* line 13, sass/model/placeholder/_close.scss */
.tips-close .J_close:hover {
  background-color: #004ca0;
}
/* line 15, sass/model/placeholder/_close.scss */
.tips-close .J_close:hover i {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 3, sass/model/placeholder/_tips.scss */
.tips, .tips-close {
  padding: 9px;
  border: 1px solid #ffdeb3;
  font-size: 14px;
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ff9000;
  background-color: #fffdfa;
  overflow: hidden;
}
/* line 15, sass/model/placeholder/_tips.scss */
.tips strong, .tips-close strong {
  color: #ff4216;
  font-weight: bold;
}
/* line 19, sass/model/placeholder/_tips.scss */
.tips .tips-title, .tips-close .tips-title {
  font-size: 16px;
}

/* line 3, sass/model/placeholder/_button.scss */
.btn, .btn-xs, .btn-sm, .btn-lg, .btn-xl {
  display: inline-block;
  margin-bottom: 0;
  border: 1px solid #ccc;
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  *overflow: visible;
}
/* line 14, sass/model/placeholder/_button.scss */
.btn input, .btn-xs input, .btn-sm input, .btn-lg input, .btn-xl input {
  display: none;
}
/* line 16, sass/model/placeholder/_button.scss */
.btn:hover, .btn-xs:hover, .btn-sm:hover, .btn-lg:hover, .btn-xl:hover, .btn:focus, .btn-xs:focus, .btn-sm:focus, .btn-lg:focus, .btn-xl:focus {
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 21, sass/model/placeholder/_button.scss */
.btn:active, .btn-xs:active, .btn-sm:active, .btn-lg:active, .btn-xl:active, .active.btn, .active.btn-xs, .active.btn-sm, .active.btn-lg, .active.btn-xl {
  -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
}
/* line 25, sass/model/placeholder/_button.scss */
.disabled.btn, .disabled.btn-xs, .disabled.btn-sm, .disabled.btn-lg, .disabled.btn-xl, [disabled].btn, [disabled].btn-xs, [disabled].btn-sm, [disabled].btn-lg, [disabled].btn-xl, fieldset[disabled] .btn, fieldset[disabled] .btn-xs, fieldset[disabled] .btn-sm, fieldset[disabled] .btn-lg, fieldset[disabled] .btn-xl {
  cursor: not-allowed;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 3, sass/model/placeholder/_clearfix.scss */
.clear, .clearfix, .box .box-hd, .box .box-bd {
  *zoom: 1;
}
/* line 38, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clear:after, .clearfix:after, .box .box-hd:after, .box .box-bd:after {
  content: "";
  display: table;
  clear: both;
}

/* line 6, sass/model/_button.scss */
.btn-gray {
  color: #999;
  border-color: #ccc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}
/* line 11, sass/model/_button.scss */
.btn-gray:hover {
  color: #999;
}

/* line 16, sass/model/_button.scss */
.btn-red {
  color: #fff;
  border-color: #004796;
  background-color: #004ca0;
}
/* line 21, sass/model/_button.scss */
.btn-red:hover, .btn-red:focus {
  color: #fff;
}

/* line 26, sass/model/_button.scss */
.btn-orange {
  color: #fff;
  border-color: #f58a00;
  background-color: #ff9000;
}
/* line 31, sass/model/_button.scss */
.btn-orange:hover, .btn-orange:focus {
  color: #fff;
}

/* line 36, sass/model/_button.scss */
.btn-green {
  color: #fff;
  border-color: #0abd7b;
  background-color: #0bc781;
}
/* line 41, sass/model/_button.scss */
.btn-green:hover, .btn-green:focus {
  color: #fff;
}

/* line 46, sass/model/_button.scss */
.btn-blue {
  color: #fff;
  border-color: #008bd2;
  background-color: #0092dc;
}
/* line 51, sass/model/_button.scss */
.btn-blue:hover, .btn-blue:focus {
  color: #fff;
}

/* XS最小号XS
  SM小号S
  MD中号M 默认为中号
  LG大号L
  XL更大一号XL */
/* line 62, sass/model/_button.scss */
.btn-xs {
  padding: 0 5px;
  line-height: 16px;
  font-size: 12px;
}

/* line 68, sass/model/_button.scss */
.btn-sm {
  line-height: 20px;
  font-size: 14px;
}

/* line 73, sass/model/_button.scss */
.btn-lg {
  padding: 0 16px;
  line-height: 32px;
  font-size: 16px;
}

/* line 79, sass/model/_button.scss */
.btn-xl {
  padding: 0 20px;
  line-height: 40px;
  font-size: 18px;
}

/* line 6, sass/model/_form.scss */
.form-pop {
  padding: 20px;
}
/* line 8, sass/model/_form.scss */
.form-pop dt {
  position: absolute;
  width: 124px;
  text-align: right;
  line-height: 26px;
}
/* line 14, sass/model/_form.scss */
.form-pop dd {
  padding-left: 128px;
  line-height: 26px;
}
/* line 18, sass/model/_form.scss */
.form-pop .input {
  width: 128px;
}

/* line 3, sass/model/_public.scss */
.red {
  color: #ff4216;
}

/* line 4, sass/model/_public.scss */
.orange {
  color: #ff9000;
}

/* line 5, sass/model/_public.scss */
.yellow {
  color: #f1ba08;
}

/* line 6, sass/model/_public.scss */
.blue {
  color: #0092dc;
}

/* line 7, sass/model/_public.scss */
.purple {
  color: #675fd6;
}

/* line 8, sass/model/_public.scss */
.green {
  color: #0bc781;
}

/* line 9, sass/model/_public.scss */
.dark {
  color: #999;
}

/* line 10, sass/model/_public.scss */
.gray {
  color: #ccc;
}

/* line 11, sass/model/_public.scss */
.white {
  color: #fff;
}

/* line 13, sass/model/_public.scss */
.bg-red {
  background-color: #ff4216;
}

/* line 14, sass/model/_public.scss */
.bg-orange {
  background-color: #ff9000;
}

/* line 15, sass/model/_public.scss */
.bg-yellow {
  background-color: #f1ba08;
}

/* line 16, sass/model/_public.scss */
.bg-blue {
  background-color: #0092dc;
}

/* line 17, sass/model/_public.scss */
.bg-purple {
  background-color: #675fd6;
}

/* line 18, sass/model/_public.scss */
.bg-green {
  background-color: #0bc781;
}

/* line 19, sass/model/_public.scss */
.bg-gray {
  background-color: #f8f8f8;
}

/* line 20, sass/model/_public.scss */
.bg-white {
  background-color: #fff;
}

/* line 23, sass/model/_public.scss */
.tac {
  text-align: center;
}

/* line 24, sass/model/_public.scss */
.tar {
  text-align: right;
}

/* line 25, sass/model/_public.scss */
.f12 {
  font-size: 12px;
}

/* line 26, sass/model/_public.scss */
.f14 {
  font-size: 14px;
}

/* line 27, sass/model/_public.scss */
.del {
  text-decoration: line-through;
}

/* line 28, sass/model/_public.scss */
.blod {
  font-weight: bold;
}

/* line 29, sass/model/_public.scss */
.italic {
  font-style: italic;
}

/* line 32, sass/model/_public.scss */
.hide {
  display: none;
}

/* line 33, sass/model/_public.scss */
.show, .block {
  display: block;
}

/* line 34, sass/model/_public.scss */
.hidden {
  visibility: hidden;
}

/* line 35, sass/model/_public.scss */
.visible {
  visibility: visible;
}

/* line 36, sass/model/_public.scss */
.inline {
  display: inline-block;
}

/* line 39, sass/model/_public.scss */
.fl {
  float: left;
}

/* line 40, sass/model/_public.scss */
.fr {
  float: right;
}

/* line 47, sass/model/_public.scss */
.pt5 {
  padding-top: 5px;
}

/* line 48, sass/model/_public.scss */
.pt10 {
  padding-top: 10px;
}

/* line 49, sass/model/_public.scss */
.pt20 {
  padding-top: 20px;
}

/* line 50, sass/model/_public.scss */
.mt5 {
  margin-top: 5px;
}

/* line 51, sass/model/_public.scss */
.mt10 {
  margin-top: 10px;
}

/* line 52, sass/model/_public.scss */
.mt20 {
  margin-top: 20px;
}

/* line 53, sass/model/_public.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 54, sass/model/_public.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 55, sass/model/_public.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 56, sass/model/_public.scss */
.mt32 {
  margin-top: 32px;
}

/* line 58, sass/model/_public.scss */
.banner {
  height: 300px;
  overflow-x: hidden;
}
/* line 61, sass/model/_public.scss */
.banner a {
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 4, sass/model/_box.scss */
.box .box-hd {
  height: 45px;
  line-height: 45px;
  // border-top: 3px solid #004ca0;
  border-bottom: 1px solid #ccc;
}
/* line 10, sass/model/_box.scss */
.box .box-hd .title {
  float: left;
  display: inline;
  font-size: 20px;
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
  cursor: pointer;
}
/* line 16, sass/model/_box.scss */
.box .box-hd p {
  font-size: 12px;
  float: right;
  display: inline;
}
/* line 19, sass/model/_box.scss */
.box .box-hd p strong {
  font-weight: bold;
}
/* line 22, sass/model/_box.scss */
.box .box-hd p a {
  padding: 0 10px;
  margin-right: -2px;
  border-right: 1px solid #ccc;
}
/* line 28, sass/model/_box.scss */
.box .box-hd .more {
  float: right;
  display: inline;
  font-size: 12px;
  color: #999;
}
/* line 34, sass/model/_box.scss */
.box .box-bd {
  padding-top: 16px;
}

/* line 40, sass/model/_box.scss */
.ad-box {
  margin-bottom: 16px;
}
/* line 42, sass/model/_box.scss */
.ad-box img {
  width: 100%;
}

/* line 48, sass/model/_box.scss */
.news .tab-hd {
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
}
/* line 52, sass/model/_box.scss */
.news .tab-hd li {
  width: 50%;
  font-size: 16px;
  padding: 0;
  border-left: 1px solid #e6e6e6;
  margin-left: -1px;
  text-align: center;
}
/* line 59, sass/model/_box.scss */
.news .tab-hd li.active {
  margin-bottom: -1px;
  color: #004ca0;
  background-color: #fff;
}
/* line 66, sass/model/_box.scss */
.news .tab-bd {
  padding-top: 0;
}

/* line 3, sass/model/_crumb.scss */
.crumb {
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  color: #ccc;
  font-family: "SimSun";
}
/* line 9, sass/model/_crumb.scss */
.crumb em, .crumb strong, .crumb a {
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
}
/* line 12, sass/model/_crumb.scss */
.crumb em {
  font-style: normal;
  color: #333;
}
/* line 16, sass/model/_crumb.scss */
.crumb strong {
  color: #0092dc;
}
/* line 19, sass/model/_crumb.scss */
.crumb a {
  text-decoration: none;
}
/* line 21, sass/model/_crumb.scss */
.crumb a:hover {
  border-bottom: 1px solid #004ca0;
  padding-bottom: 1px;
}

/* line 3, sass/model/_table.scss */
.table {
  width: 100%;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 1.5;
  table-layout: fixed;
  word-wrap: break-word;
}
/* line 11, sass/model/_table.scss */
.table th {
  font-weight: normal;
  border: 1px solid #e6e6e6;
  border-width: 0 0 1px 1px;
  padding: 5px;
}
/* line 17, sass/model/_table.scss */
.table td {
  border: 1px solid #e6e6e6;
  border-width: 0 0 1px 1px;
  padding: 5px;
}
/* line 22, sass/model/_table.scss */
.table thead {
  background: #f8f8f8;
}
/* line 25, sass/model/_table.scss */
.table thead th, .table thead td {
  font-size: 14px;
  font-weight: bold;
}
/* line 30, sass/model/_table.scss */
.table .bg-red {
  background-color: #fffcfc;
}
/* line 31, sass/model/_table.scss */
.table .bg-orange {
  background-color: #fff4e6;
}
/* line 32, sass/model/_table.scss */
.table .bg-yellow {
  background-color: #fce496;
}
/* line 33, sass/model/_table.scss */
.table .bg-blue {
  background-color: #f6fcff;
}
/* line 34, sass/model/_table.scss */
.table .bg-purple {
  background-color: white;
}
/* line 35, sass/model/_table.scss */
.table .bg-green {
  background-color: #fbfffd;
}
/* line 36, sass/model/_table.scss */
.table .bg-gray {
  background-color: #f8f8f8;
}
/* line 37, sass/model/_table.scss */
.table .bg-white {
  background-color: #fff;
}

/* line 42, sass/model/_table.scss */
.table-hover tbody tr:hover {
  background-color: #f8f8f8;
}

/* line 48, sass/model/_table.scss */
.table-hline {
  border-width: 1px 0 0 0;
}
/* line 50, sass/model/_table.scss */
.table-hline td, .table-hline th {
  border-width: 0 0 1px 0;
}

/* line 56, sass/model/_table.scss */
.table-noborder {
  border: 0;
}
/* line 58, sass/model/_table.scss */
.table-noborder td, .table-noborder th {
  border-width: 0;
}

/* line 6, sass/model/_tips.scss */
.tips-close {
  padding: 9px 32px 9px 9px;
}
/* line 9, sass/model/_tips.scss */
.tips-close .J_close {
  padding: 2px;
  top: 4px;
  right: 4px;
  background-color: #ff9000;
}

/* line 17, sass/model/_tips.scss */
.tips-blue {
  background-color: white;
  border-color: #d2f0ff;
  color: #333;
}

/* line 2, sass/model/_index.scss */
.w-bg {
  background: #f8f8f8;
}

/* line 5, sass/model/_index.scss */
.more {
  font-size: 14px;
  margin: 10px 10px 0 0;
  color: #666666;
}

/* line 11, sass/model/_index.scss */
.swap {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
/* line 16, sass/model/_index.scss */
.swap #slider {
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* line 22, sass/model/_index.scss */
.swap #slider li {
  width: 100%;
  height: 500px;
  display: none;
  position: absolute;
}
/* line 29, sass/model/_index.scss */
.swap #naviSlider {
  width: 100%;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 30px;
}
/* line 36, sass/model/_index.scss */
.swap #naviSlider li {
  height: 10px;
  width: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url(../images/dot.png) -10px center no-repeat;
  *zoom: 1;
  *display: inline;
  *margin-left: 2px;
}
/* line 45, sass/model/_index.scss */
.swap #naviSlider li.on {
  background: url(../images/dot.png) left center no-repeat;
}
/* line 50, sass/model/_index.scss */
.swap .banner-right {
  position: absolute;
  top: 40px;
  width: 330px;
  left: 50%;
  margin-left: 255px;
}
/* line 56, sass/model/_index.scss */
.swap .banner-right .yield {
  height: 142px;
  color: #666666;
  padding: 48px 0 27px 48px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background: #fff;
}
/* line 63, sass/model/_index.scss */
.swap .banner-right .yield .yield-title {
  font-size: 18px;
}
/* line 66, sass/model/_index.scss */
.swap .banner-right .yield h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 82px;
  color: #ff4216;
}
/* line 72, sass/model/_index.scss */
.swap .banner-right .yield .yield-content {
  font-size: 18px;
}
/* line 74, sass/model/_index.scss */
.swap .banner-right .yield .yield-content span {
  color: #ff4216;
  margin-right: 5px;
}
/* line 80, sass/model/_index.scss */
.swap .banner-right .register {
  height: 151px;
  background: #fbfbfb;
  border: 1px solid #e5e5e5;
  border-left: none;
  padding: 27px 0 0 45px;
  font-size: 12px;
}
/* line 88, sass/model/_index.scss */
.swap .banner-right .register .button a {
  display: block;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  width: 238px;
  height: 38px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #ff4216;
}
/* line 99, sass/model/_index.scss */
.swap .banner-right .register .button .active {
  background: #ff4216;
  color: #fff;
}
/* line 104, sass/model/_index.scss */
.swap .banner-right .register span {
  font-size: 12px;
}
/* line 106, sass/model/_index.scss */
.swap .banner-right .register span a {
  color: #ff4216;
}

/* line 113, sass/model/_index.scss */
.w-bg {
  overflow: hidden;
}

/* line 116, sass/model/_index.scss */
.notice-bar {
  background: #fff;
  padding: 10px 20px 0;
  margin-top: 13px;
}
/* line 120, sass/model/_index.scss */
.notice-bar ul {
  padding-bottom: 10px;
  border-bottom: 1px solid #f8f8f8;
}
/* line 123, sass/model/_index.scss */
.notice-bar ul li {
  float: left;
  font-size: 14px;
  line-height: 40px;
  width: 49.9%;
}
/* line 128, sass/model/_index.scss */
.notice-bar ul li .red {
  color: #ff4216;
}
/* line 131, sass/model/_index.scss */
.notice-bar ul li.last {
  border-left: 1px solid #f8f8f8;
}
/* line 133, sass/model/_index.scss */
.notice-bar ul li.last i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 32px;
  height: 29px;
  margin-left: 30px;
}
/* line 139, sass/model/_index.scss */
.notice-bar ul li.last dd {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #666666;
  font-size: 16px;
  margin-right: 40px;
}
/* line 144, sass/model/_index.scss */
.notice-bar ul li.last dd span {
  margin: 0 5px;
  font-size: 24px;
  color: #333;
}
/* line 148, sass/model/_index.scss */
.notice-bar ul li.last dd span.red {
  color: #ff4216;
}
/* line 154, sass/model/_index.scss */
.notice-bar ul li i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 14px;
  height: 18px;
  margin-right: 17px;
}
.notice-bar ul li a dl{
  display:inline-block;
  max-width:260px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;

}
/* line 160, sass/model/_index.scss */
.notice-bar ul li span {
  color: #b8b8b8;
  margin-left: 82px;
}
/* line 164, sass/model/_index.scss */
.notice-bar ul li .more {
  margin-left: 50px;
}

/* line 170, sass/model/_index.scss */
.invest {
  padding: 10px 0 50px;
}
/* line 172, sass/model/_index.scss */
.invest .hd {
  padding: 20px;
}
/* line 174, sass/model/_index.scss */
.invest .hd h1 {
  font-size: 24px;
}
/* line 178, sass/model/_index.scss */
.invest .bd {
  position: relative;
}
/* line 180, sass/model/_index.scss */
.invest .bd ul {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size:0;
}
/* line 184, sass/model/_index.scss */
.invest .bd ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 32%;
  margin-right: 1.9%;
  margin-bottom: 10px;
}
/* line 189, sass/model/_index.scss */
.invest .bd ul li .content {
  -moz-box-shadow: 3px 4px 0 0 #e5e5e5;
  -webkit-box-shadow: 3px 4px 0 0 #e5e5e5;
  box-shadow: 3px 4px 0 0 #e5e5e5;
  border: 1px solid #e5e5e5;
}
/* line 192, sass/model/_index.scss */
.invest .bd ul li .content .rate-box {
  padding: 10px 0;
  color: #fff;
  height: 158px;
}
/* line 196, sass/model/_index.scss */
.invest .bd ul li .content .rate-box .title {
  padding: 18px 0;
  font-size: 30px;
  text-align: center;
}
.invest .bd ul li .content .rate-box .title a{
  color:#fff;
  display:block;
  width:90%;
  margin:0 auto;
  overflow:hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 200, sass/model/_index.scss */
.invest .bd ul li .content .rate-box .title span {
  display: block;
  font-size: 18px;
  padding: 8px 0 15px;
  height: 18px;
}
/* line 207, sass/model/_index.scss */
.invest .bd ul li .content .rate-box .rate {
  padding: 15px 0;
}
/* line 209, sass/model/_index.scss */
.invest .bd ul li .content .rate-box .rate .number {
  width: 60%;
  text-align: right;
  font-size: 52px;
}
/* line 214, sass/model/_index.scss */
.invest .bd ul li .content .rate-box .rate .number-center {
  text-align: center;
  font-size: 60px;
}
/* line 218, sass/model/_index.scss */
.invest .bd ul li .content .rate-box .rate .unit-box {
  width: 40%;
}
/* line 220, sass/model/_index.scss */
.invest .bd ul li .content .rate-box .rate .unit-box span {
  display: block;
  padding: 3px 0 0 3px;
  font-size:16px;
}
/* line 223, sass/model/_index.scss */
.invest .bd ul li .content .rate-box .rate .unit-box span.unit {
  font-size: 24px;
}
/* line 226, sass/model/_index.scss */
.invest .bd ul li .content .rate-box .rate .unit-box span.unit-sm {
  font-size: 18px;
}
/* line 233, sass/model/_index.scss */
.invest .bd ul li .content .blue {
  background: #0092dc;
  border: 1px solid #10afff;
  background-image: url(../images/linghb.png);
}
/* line 238, sass/model/_index.scss */
.invest .bd ul li .content .orange {
  background: #ff9000;
  border: 1px solid #ffa633;
  background-image: url(../images/zhuanxlc.png);
}
/* line 243, sass/model/_index.scss */
.invest .bd ul li .content .green {
  background: #0bc781;
  border: 1px solid #13f29f;
  background-image: url(../images/anypj.png);
}
/* line 248, sass/model/_index.scss */
.invest .bd ul li .content .btn-box {
  text-align: center;
  padding: 10px 0;
  height: 155px;
  position: relative;
  background: #fff;
}
/* line 254, sass/model/_index.scss */
.invest .bd ul li .content .btn-box ul {
  padding-top: 10px;
  text-align: left;
}
/* line 256, sass/model/_index.scss */
.invest .bd ul li .content .btn-box ul li {
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  color: #666666;
  width: auto;
}
/* line 262, sass/model/_index.scss */
.invest .bd ul li .content .btn-box ul li.first {
  margin-right: 30px;
  margin-left:42px;
}
/* line 265, sass/model/_index.scss */
.invest .bd ul li .content .btn-box ul li .dl {
  float: left;
  text-align: right;
  margin-right: 5px;
}
/* line 270, sass/model/_index.scss */
.invest .bd ul li .content .btn-box ul li .dt {
  float: left;
}
/* line 272, sass/model/_index.scss */
.invest .bd ul li .content .btn-box ul li .dt span {
  font-size: 18px;
  color: #333;
}
/* line 279, sass/model/_index.scss */
.invest .bd ul li .content .btn-box .sur {
  position: relative;
  top: -18px;
  text-align: left;
}
/* line 283, sass/model/_index.scss */
.invest .bd ul li .content .btn-box .sur .first {
  margin-left: 42px;
}
/* line 287, sass/model/_index.scss */
.invest .bd ul li .content .btn-box .speed-bg {
  height: 16px;
  background: #ccc;
  position: relative;
  margin: 20px auto;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  width: 80%;
}
/* line 294, sass/model/_index.scss */
.invest .bd ul li .content .btn-box .speed-bg .speed {
  height: 16px;
  background: #ff642c;
  width: 30%;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
/* line 300, sass/model/_index.scss */
.invest .bd ul li .content .btn-box .speed-bg span {
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  color: #fff;
}
/* line 308, sass/model/_index.scss */
.invest .bd ul li .content .btn-box .btn {
  width: 136px;
  height: 36px;
  font-size: 18px;
  border: 2px solid #10afff;
  color: #10afff;
  line-height: 36px;
  margin: 5px 0;
}
/* line 316, sass/model/_index.scss */
.invest .bd ul li .content .btn-box .btn:hover {
  background: #10afff;
  color: #fff;
  transition: 0.2s;
}

.invest .bd ul li .content .btn-box .dark {
  border: 2px solid #ccc;
  background:#ccc;
  color: #fff;
}
/* line 322, sass/model/_index.scss */
.invest .bd ul li .content .btn-box .icon-full {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 150px;
  height: 120px;
  position: absolute;
  top: 35px;
  left: 115px;
}
/* line 330, sass/model/_index.scss */
.invest .bd ul li .content .btn-box .icon-repayment {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 150px;
  height: 120px;
  position: absolute;
  top: 35px;
  left: 115px;
}

/* line 344, sass/model/_index.scss */
.main-text {
  margin: 30px 0;
  height: 100px;
  background: url(../images/3.png);
}

/* line 353, sass/model/_index.scss */
.point {
  padding: 50px 0 80px;
  border-bottom: 1px solid #e5e5e5;
}
/* line 356, sass/model/_index.scss */
.point li {
  float: left;
  width: 25%;
}
/* line 359, sass/model/_index.scss */
.point li i {
  display: block;
  width: 140px;
  height: 140px;
  margin: 18px auto 10px;
}
/* line 365, sass/model/_index.scss */
.point li h1 {
  font-size: 26px;
  padding: 20px 0 18px;
  text-align: center;
}
/* line 370, sass/model/_index.scss */
.point li span {
  display: block;
  width: 160px;
  font-size: 14px;
  color: #666666;
  line-height: 1.5;
  margin: 0 auto;
}

/* line 381, sass/model/_index.scss */
.news .dynamic {
  width: 100%;
  padding: 10px 0 50px;
}
/* line 384, sass/model/_index.scss */
.news .dynamic .hd {
  padding: 20px;
}
/* line 386, sass/model/_index.scss */
.news .dynamic .hd h1 {
  font-size: 24px;
}
/* line 390, sass/model/_index.scss */
.news .dynamic .bd {
  height:254px;
  padding: 20px 0;
  border: 1px solid #e5e5e5;
  border-top: 2px solid #0092dc;
  background: #fff;
}
/* line 396, sass/model/_index.scss */
.news .dynamic .bd li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 20px;
  width: 93%;
  font-size: 14px;
  line-height: 38px;
}
/* line 402, sass/model/_index.scss */
.news .dynamic .bd li a img {
  width: 200px;
  height: 120px;
  float: left;
  margin: 0 30px 20px 0;
}
/* line 408, sass/model/_index.scss */
.news .dynamic .bd li a .news {
  line-height: 2;
}
/* line 410, sass/model/_index.scss */
.news .dynamic .bd li a .news h2 {
  font-size: 18px;
}
/* line 414, sass/model/_index.scss */
.news .dynamic .bd li a span {
  color: #999;
  float: right;
}
/* line 422, sass/model/_index.scss */
.news .mien {
  width: 100%;
  padding: 10px 0 50px;
}
/* line 425, sass/model/_index.scss */
.news .mien .hd {
  padding: 20px;
}
/* line 427, sass/model/_index.scss */
.news .mien .hd h1 {
  font-size: 24px;
}
/* line 431, sass/model/_index.scss */
.news .mien .bd {
  height:254px;
  padding: 20px 0;
  border: 1px solid #e5e5e5;
  border-top: 2px solid #0092dc;
  background: #fff;
}
/* line 436, sass/model/_index.scss */
.news .mien .bd li {
  border-bottom: 1px solid #f8f8f8;
}
/* line 438, sass/model/_index.scss */
.news .mien .bd li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 20px;
  width: 93%;
  font-size: 14px;
  line-height: 50px;
}
/* line 444, sass/model/_index.scss */
.news .mien .bd li a span {
  color: #999;
  float: right;
}
/* line 448, sass/model/_index.scss */
.news .mien .bd li a:hover {
  background: #f8f8f8;
}
/* line 452, sass/model/_index.scss */
.news .mien .bd li:last-child {
  border: 0;
}

/* line 459, sass/model/_index.scss */
.partner {
  padding: 30px 0 50px;
}
/* line 461, sass/model/_index.scss */
.partner .hd {
  padding: 20px;
}
/* line 463, sass/model/_index.scss */
.partner .hd h1 {
  font-size: 24px;
}
/* line 468, sass/model/_index.scss */
.partner .bd li {
  float: left;
  width: 270px;
  margin: 10px 30px 10px 0;
}
/* line 472, sass/model/_index.scss */
.partner .bd li:nth-child(4n) {
  margin-right: 0;
}
/* line 475, sass/model/_index.scss */
.partner .bd li.last {
  margin-right: 0;
}
/* line 478, sass/model/_index.scss */
.partner .bd li a {
  display: block;
  border: 1px solid #e5e5e5;
}
/* line 478, sass/model/_index.scss */
.partner .bd li a img {
  width: 100%;
  height: 60px;
}
