@charset "UTF-8";
/**! 
 * @author colpu
 * @copyright mingfu network
 * 本配置基于scss框架compass,在运用时请注意是否安装sass,compass
 */
/* @media all and (orientation:portrait){ //这是匹配竖屏的状态，竖屏时的css代码
  @content;
}
@media all and (orientation:landscape){ //这是匹配横屏的状态，横屏时的css代码
  @content;
} */
/**
 * 自定设置百分比 tags_per_width
 * 实用范围 知道槽间距为margin-right, 子标签左右对齐父元素
 * @parm $n 没换多少个标签
 * @parm $gutter 每个标签间的槽距
 */
/**
 * 获取颜色map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取字体map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取层级map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取圆角map方法
 * @parm $k 颜色的key值
 */
/**
 * 获取圆角map方法
 * @parm $k 颜色的key值
 */
/* line 3, sass/model/placeholder/_form.scss */
.form {
  font-size: 14px;
}
/* line 5, sass/model/placeholder/_form.scss */
.form dt {
  color: #999;
}
/* line 8, sass/model/placeholder/_form.scss */
.form dd {
  margin-bottom: 10px;
}
/* line 11, sass/model/placeholder/_form.scss */
.form label {
  cursor: pointer;
}
/* line 14, sass/model/placeholder/_form.scss */
.form label strong {
  font-family: "SimSun";
  font-weight: normal;
  color: #ff7878;
  margin: 0 3px;
}
/* line 24, sass/model/placeholder/_form.scss */
.form input, .form button {
  margin: 0 3px 0 0;
  vertical-align: middle;
}
/* line 28, sass/model/placeholder/_form.scss */
.form .input, .form .textarea, .form textarea, .form .select, .form select, .form .select-multiple {
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #999;
  vertical-align: middle;
  -moz-box-shadow: 0 2px 3px 0 #eeeeee inset;
  -webkit-box-shadow: 0 2px 3px 0 #eeeeee inset;
  box-shadow: 0 2px 3px 0 #eeeeee inset;
  outline: none;
}
/* line 38, sass/model/placeholder/_form.scss */
.form .input:focus, .form .textarea:focus, .form textarea:focus, .form .select:focus, .form select:focus, .form .select-multiple:focus {
  border-color: #e2ebfb;
  -moz-box-shadow: 0 2px 3px 0 #eeeeee inset, 0 0 5px 0 #e2ebfb;
  -webkit-box-shadow: 0 2px 3px 0 #eeeeee inset, 0 0 5px 0 #e2ebfb;
  box-shadow: 0 2px 3px 0 #eeeeee inset, 0 0 5px 0 #e2ebfb;
}
/* line 43, sass/model/placeholder/_form.scss */
.form .input {
  height: 16px;
  line-height: 16px;
}
/* line 47, sass/model/placeholder/_form.scss */
.form .input-block {
  width: 100%;
  height: 26px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 52, sass/model/placeholder/_form.scss */
.form .select {
  height: 26px;
  padding: 0;
  line-height: 26px;
  vertical-align: top;
}
/* line 58, sass/model/placeholder/_form.scss */
.form .select-multiple {
  padding: 0;
  line-height: 26px;
  vertical-align: top;
}
/* line 63, sass/model/placeholder/_form.scss */
.form input[type="checkbox"], .form input[type="radio"], .form .checkbox, .form .radio {
  margin: -2px 3px 0 0;
  vertical-align: -2px;
  cursor: pointer;
  *margin: -1px 0 0 0;
  overflow: hidden;
}
/* line 70, sass/model/placeholder/_form.scss */
.form .textarea {
  resize: vertical;
}
/* line 73, sass/model/placeholder/_form.scss */
.form .rush-code {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 1.2;
}
/* line 79, sass/model/placeholder/_form.scss */
.form .input-xs {
  width: 60px;
}
/* line 82, sass/model/placeholder/_form.scss */
.form .input-sm {
  width: 120px;
}
/* line 85, sass/model/placeholder/_form.scss */
.form .input-lg {
  width: 180px;
}
/* line 88, sass/model/placeholder/_form.scss */
.form .input-xl {
  width: 240px;
}

/* line 2, sass/model/placeholder/_close.scss */
.tips-close .J_close {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #000;
  cursor: pointer;
  -moz-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
/* line 9, sass/model/placeholder/_close.scss */
.tips-close .J_close i {
  vertical-align: top;
  -moz-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
/* line 13, sass/model/placeholder/_close.scss */
.tips-close .J_close:hover {
  background-color: #af1a19;
}
/* line 15, sass/model/placeholder/_close.scss */
.tips-close .J_close:hover i {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 3, sass/model/placeholder/_tips.scss */
.tips, .tips-close {
  padding: 9px;
  border: 1px solid #ffdbb3;
  font-size: 14px;
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-ideograph;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ff8800;
  background-color: #fffdfa;
  overflow: hidden;
}
/* line 15, sass/model/placeholder/_tips.scss */
.tips strong, .tips-close strong {
  color: #ff7878;
  font-weight: bold;
}
/* line 19, sass/model/placeholder/_tips.scss */
.tips .tips-title, .tips-close .tips-title {
  font-size: 16px;
}

/* line 3, sass/model/placeholder/_button.scss */
.btn, .btn-xs, .btn-sm, .btn-lg, .btn-xl {
  display: inline-block;
  margin-bottom: 0;
  border: 1px solid #ccc;
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  *overflow: visible;
}
/* line 14, sass/model/placeholder/_button.scss */
.btn input, .btn-xs input, .btn-sm input, .btn-lg input, .btn-xl input {
  display: none;
}
/* line 16, sass/model/placeholder/_button.scss */
.btn:hover, .btn-xs:hover, .btn-sm:hover, .btn-lg:hover, .btn-xl:hover, .btn:focus, .btn-xs:focus, .btn-sm:focus, .btn-lg:focus, .btn-xl:focus {
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 21, sass/model/placeholder/_button.scss */
.btn:active, .btn-xs:active, .btn-sm:active, .btn-lg:active, .btn-xl:active, .active.btn, .active.btn-xs, .active.btn-sm, .active.btn-lg, .active.btn-xl {
  -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.05);
}
/* line 25, sass/model/placeholder/_button.scss */
.btn-disable, .disabled.btn, .disabled.btn-xs, .disabled.btn-sm, .disabled.btn-lg, .disabled.btn-xl, [disabled].btn, [disabled].btn-xs, [disabled].btn-sm, [disabled].btn-lg, [disabled].btn-xl, fieldset[disabled] .btn, fieldset[disabled] .btn-xs, fieldset[disabled] .btn-sm, fieldset[disabled] .btn-lg, fieldset[disabled] .btn-xl {
  cursor: not-allowed;
  pointer-events: none;
  background:#999;
  border:1px solid #999;
  color:#fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 3, sass/model/placeholder/_clearfix.scss */
.clear, .clearfix, .box .box-hd, .box .box-bd {
  *zoom: 1;
}
/* line 38, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clear:after, .clearfix:after, .box .box-hd:after, .box .box-bd:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, sass/model/_reset.scss */
a {
  text-decoration: none;
  color: #2e2e2e;
}
/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #5e8fe6;
}

/* line 8, sass/model/_reset.scss */
img {
  vertical-align: middle;
}

/* line 9, sass/model/_reset.scss */
body {
  font-size: 16px;
  color: #2e2e2e;
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
}

/* line 15, sass/model/_reset.scss */
input {
  font-family: inherit;
}

/* line 18, sass/model/_reset.scss */
hr {
  border: 0;
  border-bottom: 1px dotted #ccc;
  height: 1px;
  margin: 10px 0 9px 0;
  *margin: 3px 0 2px 0;
}

/* line 98, sass/core/_grid.scss */
.w {
  min-width: 960px;
  max-width: 1200px;
  _width: expression(this.width<960px ? 960px: this.width<1200px?this.width:1200px);
  *zoom: 1;
  margin: 0 auto;
}
/* line 38, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.w:after {
  content: "";
  display: table;
  clear: both;
}

/* line 102, sass/core/_grid.scss */
.gd-1, .gd-2, .gd-3, .gd-4, .gd-5, .gd-6, .gd-7, .gd-8, .gd-9, .gd-10, .gd-11, .gd-12, .gd-13, .gd-14, .gd-15, .gd-16, .gd-17, .gd-18, .gd-19, .gd-20, .gd-21, .gd-22, .gd-23 {
  float: left;
  display: inline;
  padding-left: 1.25%;
  padding-right: 1.25%;
}

/* line 112, sass/core/_grid.scss */
.gd-1 {
  width: 1.66667%;
}

/* line 112, sass/core/_grid.scss */
.gd-2 {
  width: 5.83333%;
}

/* line 112, sass/core/_grid.scss */
.gd-3 {
  width: 10%;
}

/* line 112, sass/core/_grid.scss */
.gd-4 {
  width: 14.16667%;
}

/* line 112, sass/core/_grid.scss */
.gd-5 {
  width: 18.33333%;
}

/* line 112, sass/core/_grid.scss */
.gd-6 {
  width: 22.5%;
}

/* line 112, sass/core/_grid.scss */
.gd-7 {
  width: 26.66667%;
}

/* line 112, sass/core/_grid.scss */
.gd-8 {
  width: 30.83333%;
}

/* line 112, sass/core/_grid.scss */
.gd-9 {
  width: 35%;
}

/* line 112, sass/core/_grid.scss */
.gd-10 {
  width: 39.16667%;
}

/* line 112, sass/core/_grid.scss */
.gd-11 {
  width: 43.33333%;
}

/* line 112, sass/core/_grid.scss */
.gd-12 {
  width: 47.5%;
}

/* line 112, sass/core/_grid.scss */
.gd-13 {
  width: 51.66667%;
}

/* line 112, sass/core/_grid.scss */
.gd-14 {
  width: 55.83333%;
}

/* line 112, sass/core/_grid.scss */
.gd-15 {
  width: 60%;
}

/* line 112, sass/core/_grid.scss */
.gd-16 {
  width: 64.16667%;
}

/* line 112, sass/core/_grid.scss */
.gd-17 {
  width: 68.33333%;
}

/* line 112, sass/core/_grid.scss */
.gd-18 {
  width: 72.5%;
}

/* line 112, sass/core/_grid.scss */
.gd-19 {
  width: 76.66667%;
}

/* line 112, sass/core/_grid.scss */
.gd-20 {
  width: 80.83333%;
}

/* line 112, sass/core/_grid.scss */
.gd-21 {
  width: 85%;
}

/* line 112, sass/core/_grid.scss */
.gd-22 {
  width: 89.16667%;
}

/* line 112, sass/core/_grid.scss */
.gd-23 {
  width: 93.33333%;
}

/* line 107, sass/core/_grid.scss */
.gd-24 {
  margin: 0 auto;
  width: 97.5%;
}

/* line 6, sass/model/_button.scss */
.btn-gray {
  color: #999;
  border-color: #ccc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}
/* line 11, sass/model/_button.scss */
.btn-gray:hover {
  color: #999;
}

/* line 16, sass/model/_button.scss */
.btn-red {
  color: #fff;
  border-color: #5589e5;
  background-color: #5e8fe6;
}
/* line 21, sass/model/_button.scss */
.btn-red:hover, .btn-red:focus {
  color: #fff;
}

/* line 26, sass/model/_button.scss */
.btn-orange {
  color: #fff;
  border-color: #f58300;
  background-color: #ff8800;
}
/* line 31, sass/model/_button.scss */
.btn-orange:hover, .btn-orange:focus {
  color: #fff;
}

/* line 36, sass/model/_button.scss */
.btn-green {
  color: #fff;
  border-color: #70c970;
  background-color: #77cc77;
}
/* line 41, sass/model/_button.scss */
.btn-green:hover, .btn-green:focus {
  color: #fff;
}

/* line 46, sass/model/_button.scss */
.btn-blue {
  color: #fff;
  border-color: #5ca4ff;
  background-color: #66aaff;
}
/* line 51, sass/model/_button.scss */
.btn-blue:hover, .btn-blue:focus {
  color: #fff;
}

/* XS最小号XS
  SM小号S
  MD中号M 默认为中号
  LG大号L
  XL更大一号XL */
/* line 62, sass/model/_button.scss */
.btn-xs {
  padding: 0 5px;
  line-height: 16px;
  font-size: 12px;
}

/* line 68, sass/model/_button.scss */
.btn-sm {
  line-height: 20px;
  font-size: 14px;
}

/* line 73, sass/model/_button.scss */
.btn-lg {
  padding: 0 16px;
  line-height: 32px;
  font-size: 16px;
}
.btn-w60{
  width:64px;
  box-sizing:inherit;
}
/* line 79, sass/model/_button.scss */
.btn-xl {
  padding: 0 20px;
  line-height: 40px;
  font-size: 18px;
}

/* line 6, sass/model/_form.scss */
.form-pop {
  padding: 20px;
}
/* line 8, sass/model/_form.scss */
.form-pop dt {
  position: absolute;
  width: 124px;
  text-align: right;
  line-height: 26px;
}
/* line 14, sass/model/_form.scss */
.form-pop dd {
  padding-left: 128px;
  line-height: 26px;
}
/* line 18, sass/model/_form.scss */
.form-pop .input {
  width: 128px;
}

/* line 3, sass/model/_public.scss */
.red {
  color: #ff7878;
}

/* line 4, sass/model/_public.scss */
.orange {
  color: #ff8800;
}

/* line 5, sass/model/_public.scss */
.yellow {
  color: #f1ba08;
}

/* line 6, sass/model/_public.scss */
.blue {
  color: #66aaff;
}

/* line 7, sass/model/_public.scss */
.purple {
  color: #675fd6;
}

/* line 8, sass/model/_public.scss */
.green {
  color: #77cc77;
}

/* line 9, sass/model/_public.scss */
.dark {
  color: #999;
}

/* line 10, sass/model/_public.scss */
.gray {
  color: #ccc;
}

/* line 11, sass/model/_public.scss */
.white {
  color: #fff;
}

/* line 13, sass/model/_public.scss */
.bg-red {
  background-color: #ff7878;
}

/* line 14, sass/model/_public.scss */
.bg-orange {
  background-color: #ff8800;
}

/* line 15, sass/model/_public.scss */
.bg-yellow {
  background-color: #f1ba08;
}

/* line 16, sass/model/_public.scss */
.bg-blue {
  background-color: #66aaff;
}

/* line 17, sass/model/_public.scss */
.bg-purple {
  background-color: #675fd6;
}

/* line 18, sass/model/_public.scss */
.bg-green {
  background-color: #77cc77;
}

/* line 19, sass/model/_public.scss */
.bg-gray {
  background-color: #f5f5f5;
}

/* line 20, sass/model/_public.scss */
.bg-white {
  background-color: #fff;
}

/* line 23, sass/model/_public.scss */
/*.tac {
  text-align: center;
}*/

/* line 24, sass/model/_public.scss */
.tar {
  text-align: right;
}

/* line 25, sass/model/_public.scss */
.f12 {
  font-size: 12px;
}

/* line 26, sass/model/_public.scss */
.f14 {
  font-size: 14px;
}

/* line 27, sass/model/_public.scss */
.del {
  text-decoration: line-through;
}

/* line 28, sass/model/_public.scss */
.blod {
  font-weight: bold;
}

/* line 29, sass/model/_public.scss */
.italic {
  font-style: italic;
}

/* line 32, sass/model/_public.scss */
.hide {
  display: none;
}

/* line 33, sass/model/_public.scss */
.show, .block {
  display: block;
}

/* line 34, sass/model/_public.scss */
.hidden {
  visibility: hidden;
}

/* line 35, sass/model/_public.scss */
.visible {
  visibility: visible;
}

/* line 36, sass/model/_public.scss */
.inline {
  display: inline-block;
}

/* line 39, sass/model/_public.scss */
.fl {
  float: left;
}

/* line 40, sass/model/_public.scss */
.fr {
  float: right;
}

/* line 47, sass/model/_public.scss */
.pt5 {
  padding-top: 5px;
}

/* line 48, sass/model/_public.scss */
.pt10 {
  padding-top: 10px;
}

/* line 49, sass/model/_public.scss */
.pt20 {
  padding-top: 20px;
}

/* line 50, sass/model/_public.scss */
.mt5 {
  margin-top: 5px;
}

/* line 51, sass/model/_public.scss */
.mt10 {
  margin-top: 10px;
}

/* line 52, sass/model/_public.scss */
.mt20 {
  margin-top: 20px;
}

/* line 53, sass/model/_public.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 54, sass/model/_public.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 55, sass/model/_public.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 56, sass/model/_public.scss */
.mt32 {
  margin-top: 32px;
}

/* line 58, sass/model/_public.scss */
.banner {
  height: 300px;
  overflow-x: hidden;
}
/* line 61, sass/model/_public.scss */
.banner a {
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 4, sass/model/_box.scss */
.box .box-hd {
  height: 45px;
  line-height: 45px;
  // border-top: 3px solid #5e8fe6;
  border-bottom: 1px solid #ccc;
}
/* line 10, sass/model/_box.scss */
.box .box-hd .title {
  float: left;
  display: inline;
  font-size: 20px;
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
  cursor: pointer;
}
/* line 16, sass/model/_box.scss */
.box .box-hd p {
  font-size: 12px;
  float: right;
  display: inline;
}
/* line 19, sass/model/_box.scss */
.box .box-hd p strong {
  font-weight: bold;
}
/* line 22, sass/model/_box.scss */
.box .box-hd p a {
  padding: 0 10px;
  margin-right: -2px;
  border-right: 1px solid #ccc;
}
/* line 28, sass/model/_box.scss */
.box .box-hd .more {
  float: right;
  display: inline;
  font-size: 12px;
  color: #999;
}
/* line 34, sass/model/_box.scss */
.box .box-bd {
  padding-top: 16px;
}

/* line 40, sass/model/_box.scss */
.ad-box {
  margin-bottom: 16px;
}
/* line 42, sass/model/_box.scss */
.ad-box img {
  width: 100%;
}

/* line 48, sass/model/_box.scss */
.news .tab-hd {
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
}
/* line 52, sass/model/_box.scss */
.news .tab-hd li {
  width: 50%;
  font-size: 16px;
  padding: 0;
  border-left: 1px solid #e6e6e6;
  margin-left: -1px;
  text-align: center;
}
/* line 59, sass/model/_box.scss */
.news .tab-hd li.active {
  margin-bottom: -1px;
  color: #5e8fe6;
  background-color: #fff;
}
/* line 66, sass/model/_box.scss */
.news .tab-bd {
  padding-top: 0;
}

/* line 3, sass/model/_crumb.scss */
.crumb {
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  color: #ccc;
  font-family: "SimSun";
}
/* line 9, sass/model/_crumb.scss */
.crumb em, .crumb strong, .crumb a {
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
}
/* line 12, sass/model/_crumb.scss */
.crumb em {
  font-style: normal;
  color: #2e2e2e;
}
/* line 16, sass/model/_crumb.scss */
.crumb strong {
  color: #66aaff;
}
/* line 19, sass/model/_crumb.scss */
.crumb a {
  text-decoration: none;
}
/* line 21, sass/model/_crumb.scss */
.crumb a:hover {
  border-bottom: 1px solid #5e8fe6;
  padding-bottom: 1px;
}

/* line 3, sass/model/_table.scss */
.table {
  width: 100%;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 1.5;
  table-layout: fixed;
  word-wrap: break-word;
}
/* line 11, sass/model/_table.scss */
.table th {
  font-weight: normal;
  border: 1px solid #e6e6e6;
  border-width: 0 0 1px 1px;
  padding: 5px;
}
/* line 17, sass/model/_table.scss */
.table td {
  border: 1px solid #e6e6e6;
  border-width: 0 0 1px 1px;
  padding: 5px;
}
/* line 22, sass/model/_table.scss */
.table thead {
  background: #f5f5f5;
}
/* line 25, sass/model/_table.scss */
.table thead th, .table thead td {
  font-size: 14px;
  font-weight: bold;
}
/* line 30, sass/model/_table.scss */
.table .bg-red {
  background-color: white;
}
/* line 31, sass/model/_table.scss */
.table .bg-orange {
  background-color: #fff3e6;
}
/* line 32, sass/model/_table.scss */
.table .bg-yellow {
  background-color: #fce496;
}
/* line 33, sass/model/_table.scss */
.table .bg-blue {
  background-color: white;
}
/* line 34, sass/model/_table.scss */
.table .bg-purple {
  background-color: white;
}
/* line 35, sass/model/_table.scss */
.table .bg-green {
  background-color: white;
}
/* line 36, sass/model/_table.scss */
.table .bg-gray {
  background-color: #f5f5f5;
}
/* line 37, sass/model/_table.scss */
.table .bg-white {
  background-color: #fff;
}

/* line 42, sass/model/_table.scss */
.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

/* line 48, sass/model/_table.scss */
.table-hline {
  border-width: 1px 0 0 0;
}
/* line 50, sass/model/_table.scss */
.table-hline td, .table-hline th {
  border-width: 0 0 1px 0;
}

/* line 56, sass/model/_table.scss */
.table-noborder {
  border: 0;
}
/* line 58, sass/model/_table.scss */
.table-noborder td, .table-noborder th {
  border-width: 0;
}

/* line 6, sass/model/_tips.scss */
.tips-close {
  padding: 9px 32px 9px 9px;
}
/* line 9, sass/model/_tips.scss */
.tips-close .J_close {
  padding: 2px;
  top: 4px;
  right: 4px;
  background-color: #ff8800;
}

/* line 17, sass/model/_tips.scss */
.tips-blue {
  background-color: white;
  border-color: white;
  color: #2e2e2e;
}

/* line 3, sass/model/_home.scss */
.w-bg {
  background: #f8f8f8;
  overflow: hidden;
}

/* line 6, sass/model/_home.scss */
.banner-box {
  padding-top: 10px;
}
/* line 5, sass/model/_home.scss */
.banner-box .slider {
  height: 320px;
  width: 870px;
}
/* line 8, sass/model/_home.scss */
.banner-box .slider .slider-hd {
  width: 870px;
}
/* line 11, sass/model/_home.scss */
.banner-box .slider .slider-bd {
  width: 870px;
  height: 320px;
}
/* line 14, sass/model/_home.scss */
.banner-box .slider .slider-bd li {
  height: 320px;
}
/* line 19, sass/model/_home.scss */
.banner-box .banner-right {
  padding-left: 870px;
}
/* line 21, sass/model/_home.scss */
.banner-box .banner-right .yield {
  height: 130px;
  color: #666;
  background: #fff;
  padding: 20px 0 0 33px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
/* line 27, sass/model/_home.scss */
.banner-box .banner-right .yield .yield-title {
  font-size: 20px;
}
/* line 30, sass/model/_home.scss */
.banner-box .banner-right .yield h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 60px;
  color: #0f55a8;
}
/* line 36, sass/model/_home.scss */
.banner-box .banner-right .yield .yield-content {
  font-size: 18px;
}
/* line 38, sass/model/_home.scss */
.banner-box .banner-right .yield .yield-content span {
  color: #395ba8;
  margin-right: 5px;
}
/* line 44, sass/model/_home.scss */
.banner-box .banner-right .register {
  height: 140px;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-left: none;
  padding: 27px 0 0 33px;
  font-size: 12px;
}
/* line 52, sass/model/_home.scss */
.banner-box .banner-right .register .button a {
  display: block;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  width: 238px;
  height: 38px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #a1a1a1;
}
/* line 63, sass/model/_home.scss */
.banner-box .banner-right .register .button .active {
  background: #395ba8;
  color: #fff;
  border: 1px solid #5074c4;
}
/* line 68, sass/model/_home.scss */
.banner-box .banner-right .register span {
  font-size: 12px;
}
/* line 70, sass/model/_home.scss */
.banner-box .banner-right .register span a {
  color: #395ba8;
}

/* line 77, sass/model/_home.scss */
.index-assets {
  margin-top: 10px;
}
/* line 79, sass/model/_home.scss */
.index-assets .hd {
  border: 0;
}
/* line 88, sass/model/_home.scss */
.index-assets .hd h1 {
  font-size: 18px;
}
/* line 81, sass/model/_home.scss */
.index-assets .hd a {
  color: #666;
  font-size: 14px;
}
/* line 96, sass/model/_home.scss */
.index-assets .bd {
  position: relative;
}
/* line 98, sass/model/_home.scss */
.index-assets .bd ol {
  position: absolute;
  display: block;
  width: 100%;
  top: 140px;
}
/* line 103, sass/model/_home.scss */
.index-assets .bd ol li {
  width: 28px;
  position: absolute;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 108, sass/model/_home.scss */
.index-assets .bd ol li:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 111, sass/model/_home.scss */
.index-assets .bd ol li i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 28px;
  height: 84px;
}
/* line 117, sass/model/_home.scss */
.index-assets .bd ol .prev {
  left: -56px;
}
/* line 120, sass/model/_home.scss */
.index-assets .bd ol .next {
  right: -56px;
  margin: 0;
}
/* line 125, sass/model/_home.scss */
.index-assets .bd ul {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
}
/* line 103, sass/model/_home.scss */
.index-assets .bd ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 24%;
  margin-right: 1.25%;
  margin-bottom: 10px;
  font-size: 14px;
}
/* line 108, sass/model/_home.scss */
.index-assets .bd ul li .content {
  -moz-box-shadow: 3px 4px 0 0 #e5e5e5;
  -webkit-box-shadow: 3px 4px 0 0 #e5e5e5;
  box-shadow: 3px 4px 0 0 #e5e5e5;
  border: 1px solid #e5e5e5;
}
/* line 111, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box {
  padding: 10px 0;
  color: #fff;
  height: 158px;
}
/* line 115, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box .title {
  margin: 18px 10px;
  box-sizing: border-box;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  text-align: center;
}
/* line 119, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box .title span {
  display: block;
  font-size: 18px;
  padding: 8px 0 15px;
  height: 18px;
}
/* line 126, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box .rate {
  padding: 15px 0;
}
/* line 128, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box .rate .number {
  width: 60%;
  text-align: right;
  font-size: 52px;
}
/* line 133, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box .rate .number-center {
  text-align: center;
  font-size: 60px;
}
/* line 137, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box .rate .unit-box {
  width: 40%;
}
/* line 139, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box .rate .unit-box span {
  display: block;
  padding: 3px 0 0 3px;
}
/* line 142, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box .rate .unit-box span.unit {
  font-size: 24px;
}
/* line 145, sass/model/_home.scss */
.index-assets .bd ul li .content .rate-box .rate .unit-box span.unit-sm {
  font-size: 18px;
}
/* line 152, sass/model/_home.scss */
.index-assets .bd ul li .content .blue {
  background: #ff4d40;
  background-image: url(../images/qiandai.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 158, sass/model/_home.scss */
.index-assets .bd ul li .content .orange {
  background: #ff4d40;
  background-image: url(../images/yingbi.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 164, sass/model/_home.scss */
.index-assets .bd ul li .content .green {
  background: #ff4d40;
  background-image: url(../images/zhibi.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 170, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box {
  text-align: center;
  padding: 10px 0;
  height: 155px;
  position: relative;
  background: #fff;
}
/* line 176, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box ul {
  padding-top: 10px;
}
/* line 178, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box ul li {
  display: block;
  clear: both;
  margin: 0 auto;
  line-height: 24px;
  font-size: 14px;
  color: #5c5c5c;
  width: auto;
}
/* line 212, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box ul li .dl {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 5px;
}
/* line 192, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box ul li .dt {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 194, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box ul li .dt span {
  font-size: 18px;
  color: #2e2e2e;
}
/* line 201, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box .sur {
  position: relative;
  top: -18px;
  text-align: left;
}
/* line 205, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box .sur .first {
  margin-left: 42px;
}
/* line 209, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box .speed-bg {
  height: 16px;
  background: #ccc;
  position: relative;
  margin: 15px auto;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  width: 80%;
}
/* line 216, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box .speed-bg .speed {
  height: 16px;
  background: #ff4d40;
  width: 30%;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
/* line 222, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box .speed-bg span {
  display: block;
  position: absolute;
  top: 0;
  right: 5px;
  color: #fff;
}
/* line 230, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box .btn {
  width: 136px;
  height: 36px;
  font-size: 18px;
  border: 2px solid #395ba8;
  color: #395ba8;
  line-height: 36px;
  margin: 5px 0;
}
.index-assets .bd ul li .content .btn-box .btn-gray {
  border: 2px solid #999;
  color: #fff;
}
/* line 238, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box .btn:hover {
  background: #395ba8;
  color: #fff;
  transition: 0.2s;
}
/* line 244, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box .share-full {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 150px;
  height: 120px;
  position: absolute;
  top: 35px;
  left: 115px;
}
/* line 252, sass/model/_home.scss */
.index-assets .bd ul li .content .btn-box .share-repayment {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 150px;
  height: 120px;
  position: absolute;
  top: 35px;
  left: 115px;
}

/* line 167, sass/model/_home.scss */
.index-bonds {
  margin-top: 30px;
}
/* line 169, sass/model/_home.scss */
.index-bonds .hd {
  border-bottom: 2px solid #ff4d40;
}
/* line 171, sass/model/_home.scss */
.index-bonds .hd a {
  color: #f6b128;
}
/* line 176, sass/model/_home.scss */
.index-bonds .bd .table-hline {
  border: 1px solid #e5e5e5;
}
/* line 180, sass/model/_home.scss */
.index-bonds .bd .table strong {
  font-size: 16px;
  font-weight: bold;
}
/* line 184, sass/model/_home.scss */
.index-bonds .bd .table .red {
  font-size: 20px;
  color: #395ba8;
  font-weight: normal;
}
/* line 288, sass/model/_home.scss */
.index-bonds .bd .table .btn-red {
  background: #395ba8;
  width: 100px;
  font-size: 14px;
  border: none;
  line-height: 40px;
  padding: 0;
}
/* line 297, sass/model/_home.scss */
.index-bonds .bd .more {
  line-height: 58px;
  height: 58px;
  font-size: 16px;
}

/* line 205, sass/model/_home.scss */
.index-transfer {
  margin-top: 30px;
  margin-bottom: 40px;
  height: 258px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: 1px solid #ff4d40;
  -moz-box-shadow: 3px 4px 0 0 #e5e5e5;
  -webkit-box-shadow: 3px 4px 0 0 #e5e5e5;
  box-shadow: 3px 4px 0 0 #e5e5e5;
}
/* line 311, sass/model/_home.scss */
.index-transfer img {
  width: 24%;
  height: 258px;
  float: left;
  border: 0;
  border-right: 1px solid #66aaff;
}
/* line 321, sass/model/_home.scss */
.index-transfer table {
  width: 886px;
  margin-left: 24%;
}
/* line 324, sass/model/_home.scss */
.index-transfer table tr:hover td {
  background: #fbfbfb;
}
/* line 327, sass/model/_home.scss */
.index-transfer table th {
  background: #fbfbfb;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
/* line 334, sass/model/_home.scss */
.index-transfer table td {
  height: 58px;
  line-height: 58px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.index-transfer table td .long{
  display:block;
  width:200px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
}
/* line 338, sass/model/_home.scss */
.index-transfer table td .red {
  color: #ff7878;
}
/* line 340, sass/model/_home.scss */
.index-transfer table td .btn-lg {
  font-size: 14px;
  line-height: 28px;
}
/* line 345, sass/model/_home.scss */
.index-transfer table tfoot td {
  font-size: 12px;
  height: 40px;
}
/* line 346, sass/model/_home.scss */
.index-transfer table tfoot td a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.advantage-box{
  margin-top:-6px;
}
/* line 402, sass/model/_home.scss */
.advantage-box .advantage {
  padding: 15px 0 45px;
  background: #fbfbfb;
  border: 1px solid #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
}
/* line 408, sass/model/_home.scss */
.advantage-box .advantage h1 {
  font-size: 24px;
  padding: 20px 45px 50px;
  text-align: center;
}
/* line 412, sass/model/_home.scss */
.advantage-box .advantage h1 span {
  width: 200px;
  margin: 0 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border-bottom: 1px solid #ccc;
}
/* line 419, sass/model/_home.scss */
.advantage-box .advantage li {
  text-align: center;
  width: 15%;
  padding: 0 5%;
}
/* line 423, sass/model/_home.scss */
.advantage-box .advantage li i {
  float: none;
  margin: 0 auto;
  width: 90px;
  height: 90px;
}
/* line 429, sass/model/_home.scss */
.advantage-box .advantage li dt {
  font-size: 24px;
}
/* line 435, sass/model/_home.scss */
.index-dynamics {
  margin-top: 40px;
  border: 1px solid #e5e5e5;
  background: #fff;
  -moz-box-shadow: 3px 4px 0 0 #e5e5e5;
  -webkit-box-shadow: 3px 4px 0 0 #e5e5e5;
  box-shadow: 3px 4px 0 0 #e5e5e5;
}

/* line 437, sass/model/_home.scss */
.index-dynamics .hd {
  padding: 0 18px;
}
/* line 439, sass/model/_home.scss */
.index-dynamics .hd h2 {
  font-size: 18px;
}

/* line 444, sass/model/_home.scss */
.index-prefers {
  margin-top: 40px;
  border: 1px solid #e5e5e5;
  background: #fff;
  -moz-box-shadow: 3px 4px 0 0 #e5e5e5;
  -webkit-box-shadow: 3px 4px 0 0 #e5e5e5;
  box-shadow: 3px 4px 0 0 #e5e5e5;
}
/* line 448, sass/model/_home.scss */
.index-prefers .tab-hd {
  padding: 0 18px;
}
/* line 450, sass/model/_home.scss */
.index-prefers .tab-hd li {
  font-size: 18px;
}
/* line 454, sass/model/_home.scss */
.index-prefers .tab-bd {
  border: 0;
}
/* line 460, sass/model/_home.scss */
.partners {
  border: 1px solid #e5e5e5;
  background: #fff;
  margin-top: 40px;
  -moz-box-shadow: 3px 4px 0 0 #e5e5e5;
  -webkit-box-shadow: 3px 4px 0 0 #e5e5e5;
  box-shadow: 3px 4px 0 0 #e5e5e5;
}

/* line 298, sass/model/_home.scss */
.partners .box-hd {
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  border: 0;
}
/* line 331, sass/model/_home.scss */
.partners .box-hd h2 {
  font-size: 18px;
}

/* line 305, sass/model/_home.scss */
.mt20 {
  margin-top: 30px;
}

/* line 308, sass/model/_home.scss */
.ad {
  position: fixed;
  right: 0;
  bottom: 150px;
}
/* line 312, sass/model/_home.scss */
.ad li {
  width: 60px;
  text-align: center;
  position: relative;
}
/* line 316, sass/model/_home.scss */
.ad li:hover .twocode {
  display: block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 324, sass/model/_home.scss */
.ad li a {
  border: 1px solid #e5e5e5;
  display: block;
  width: 58px;
  background: #fff;
  padding: 4px 0;
  margin-top: -1px;
}
/* line 334, sass/model/_home.scss */
.ad li a i {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
/* line 340, sass/model/_home.scss */
.ad li a span {
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: 3px;
}
/* line 356, sass/model/_home.scss */
.ad li .twocode {
  display: none;
  width: 115px;
  height: 104px;
  position: absolute;
  top: -19px;
  left: -115px;
}
/* line 363, sass/model/_home.scss */
.ad li .twocode img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100px;
  height: 100px;
  border: 2px solid #395ba8;
}
/* line 369, sass/model/_home.scss */
.ad li .twocode i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 10px;
  height: 12px;
  float: right;
  margin-top: 46px;
}

/* line 367, sass/model/_home.scss */
.fixer {
  bottom: 86px;
}

.fund-screen {
  background: #fff;
  border: 1px solid #ccc;
  padding: 30px;
  font-size: 14px;
}
.fund-screen .type {
  margin: 10px 0;
}
.fund-screen .type li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 15px;
}
.fund-screen .type li a {
  color: #999;
  padding: 5px 10px;
}
.fund-screen .type li a.active {
  background: #5e8fe6;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.fund-screen .type li input {
  padding: 0 5px;
  height: 35px;
  line-height: 35px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #999;
  color: #999;
  width: 300px;
}

.fund-box {
  background: #fff;
  border: 1px solid #ccc;
  padding: 30px;
  margin-top: 20px;
}
.fund-box table {
  width: 100%;
  font-size: 14px;
  border-top: 2px solid #66aaff;
}
.fund-box table thead {
  line-height: 55px;
}
.fund-box table thead tr th {
  background: #f5f5f5;
  padding: 0 10px;
}
.fund-box table tbody {
  line-height: 55px;
}
.fund-box table tbody tr:nth-child(2n) {
  background: #f5f5f5;
}
.fund-box table tbody tr td {
  padding: 0 10px;
}
.fund-box table tbody tr td a {
  background: #5e8fe6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.fund-box table tbody tr td a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

.fund-detail .left {
  width: 370px;
  float: left;
}
.fund-detail .left .spe-attr {
  width: 100%;
}
.fund-detail .left .attr .item {
  float: left;
  width: 150px;
}
.fund-detail .right {
  border-left: 1px solid #ccc;
  height: 280px;
  margin-left: 370px;
  margin-top: -32px;
}
.fund-detail .right .chart-tab {
  padding: 30px 0 0 20px;
  font-size: 14px;
}
.fund-detail .right .chart-tab .tab li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.fund-detail .right .chart-tab .tab li a {
  padding: 5px 10px;
}
.fund-detail .right .chart-tab .tab li a.active {
  border-bottom: 2px solid #66aaff;
}
.fund-detail .right #chart {
  width: 500px;
  height: 230px;
}

.pro-detail-tab .tab-bd .tab-item {
  font-size: 14px;
}
.pro-detail-tab .tab-bd .tab-item .general .fund-name {
  width: 600px;
  line-height: 1.5;
  float: left;
}
.pro-detail-tab .tab-bd .tab-item .general .fund-name td {
  padding: 10px;
}
.pro-detail-tab .tab-bd .tab-item .general .fund-name td.tt {
  width: 80px;
}
.pro-detail-tab .tab-bd .tab-item .general .fund-name td.dd {
  width: 220px;
  color: #999;
}
.pro-detail-tab .tab-bd .tab-item .general .chart-box {
  margin-left: 600px;
}
.pro-detail-tab .tab-bd .tab-item .general .chart-box #fund-chart {
  width: 230px;
  height: 230px;
  float: left;
  margin-top: -20px;
}
.pro-detail-tab .tab-bd .tab-item .general .chart-box .fund-table {
  margin-left: 230px;
  color: #999;
}
.pro-detail-tab .tab-bd .tab-item .general .chart-box .fund-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.pro-detail-tab .tab-bd .tab-item .general .chart-box .fund-table td i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.pro-detail-tab .tab-bd .tab-item .general .chart-box .fund-table td i.red {
  background: #ff7878;
}
.pro-detail-tab .tab-bd .tab-item .general .chart-box .fund-table td i.yellow {
  background: #f1ba08;
}
.pro-detail-tab .tab-bd .tab-item .general .chart-box .fund-table td i.green {
  background: #77cc77;
}
.pro-detail-tab .tab-bd .tab-item .general .chart-box .fund-table td i.blue {
  background: #66aaff;
}
.pro-detail-tab .tab-bd .tab-item .main-hold {
  margin-top: 50px;
}
.pro-detail-tab .tab-bd .tab-item .main-hold table {
  margin-top: 20px;
  width: 100%;
  line-height: 1.5;
  border-top: 2px solid #66aaff;
}
.pro-detail-tab .tab-bd .tab-item .main-hold table thead th {
  height: 50px;
  background: #f5f5f5;
  padding: 0 20px;
}
.pro-detail-tab .tab-bd .tab-item .main-hold table tbody tr td {
  height: 50px;
  padding: 0 20px;
}
.pro-detail-tab .tab-bd .tab-item .main-hold table tbody tr:nth-child(2n) td {
  background: #f5f5f5;
}

/* 我的基金 */
.financing .box-hd {
  border-top: 0;
}
.financing .box-hd .title {
  border-bottom: 2px solid #66aaff;
}
.financing .box-bd .statis-asset-bd {
  border: none;
  padding: 32px;
}
.financing .box-bd .statis-asset-bd ul li {
  width: 25%;
  line-height: 1.5;
  padding: 0;
  text-align: center;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.financing .box-bd .statis-asset-bd ul li:last-child {
  border: none;
}
.financing .box-bd .statis-asset-bd ul li .sum {
  font-size: 24px;
}

.uc-tab .table thead tr th {
  height: 50px;
  box-sizing: border-box;
  font-weight: inherit;
  padding: 0 10px;
}
.uc-tab .table tbody tr td {
  height: 50px;
  box-sizing: border-box;
  padding: 0 10px;
}
.uc-tab .table tbody tr td a {
  padding: 5px 10px;
  background: #66aaff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}
.uc-tab .table tbody tr:nth-child(2n) td {
  background: #f5f5f5;
}

.pagination .active a {
  background-color: #66aaff;
  border-color: #66aaff;
}
.pagination .active a:hover {
  background-color: #66aaff;
  border-color: #66aaff;
}
