.container {
  width: 1080px;
  margin: 0 auto;
}
/* 
.simple-titlebar {
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 20px;
  *zoom: 1
}

.simple-titlebar:after {
  display: table;
  clear: both;
  content: ""
}

.simple-titlebar .title {
  float: left;
  font-size: 18px;
  line-height: 40px;
  margin-left: 5px;
  color: #655641
}
 */

/* 
.recommend .list li {
  height: 40px;
  border-bottom: 1px dotted #c0c0c0;
  *zoom: 1;
}

.recommend .list li:after {
  display: table;
  clear: both;
  content: "";
}

.recommend .list li .title {
  float: left;
  margin-left: 5px;
  font-size: 14px;
  line-height: 40px;
  color: #747474;
  width: 80%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.recommend .list li .title:hover {
  color: #272727;
}

.recommend .list li .btn {
  float: right;
  margin: 7px 5px 0 0;
} */

.my-financing {
  margin-bottom: 30px;
}

.my-financing .border-box {
  float: left;
  width: 42%;
  height: 100%;
  padding: 3%;
  text-align: center;
}

.my-financing > .border-box + .border-box {
  float: right;
}

.my-financing .num {
  margin-bottom: 20px;
}

.my-financing .num dt {
  font-size: 16px;
  line-height: 24px;
  color: #747474;
}

.my-financing .num dd {
  font-size: 36px;
  line-height: 56px;
  color: #655641;
}

.my-financing .details li {
  font-size: 13px;
  line-height: 30px;
  color: #747474;
}

.my-financing .details li label {
  display: inline-block;
  width: 160px;
}

.my-financing .details li span {
  font-size: 14px;
}

.my-financing .details .action a {
  color: #3498db;
}

.my-financing .details .action a:hover {
  text-decoration: underline;
}

.panel-info .achieved {
  padding: 20px 30px;
}

.panel-info .achieved h3 {
  font-size: 24px;
  line-height: 60px;
  margin-bottom: 20px;
  color: #655641;
}

.panel-info .achieved .data dl {
  float: left;
  width: 33.3%;
}

.panel-info .achieved .data dl dt {
  font-size: 14px;
  line-height: 20px;
  color: #747474;
}

.panel-info .achieved .data dl dd {
  font-size: 20px;
  line-height: 34px;
}
/* 
.bankcards .section {
  padding: 30px 30px 0 30px;
}

.bankcards .section .title {
  font-size: 16px;
  line-height: 30px;
  color: #655641;
  margin-bottom: 10px;
}

.bankcards > div:last-child {
  padding-bottom: 20px;
}

.bankcards-list {
  padding: 0 1px;
}

.bankcards-list .card,
.bankcards-list .new-card {
  float: left;
  position: relative;
  width: 198px;
  height: 118px;
  margin: 0 34px 30px 0;
  padding: 10px;
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.bankcards-list .card .bank,
.bankcards-list .new-card .bank {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 16px;
}

.bankcards-list .card .number,
.bankcards-list .new-card .number {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 68px;
  background-color: #ffffff;
  top: 25%;
  margin-left: -10px;
  text-align: center;
  color: #747474;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.bankcards-list .card .platform,
.bankcards-list .new-card .platform {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 16px;
}

.bankcards-list .card .btn,
.bankcards-list .new-card .btn {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 13px;
  display: inline;
}

.bankcards-list .new-card {
  display: block;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  cursor: pointer;
}

.bankcards-list .new-card:hover {
  border: 1px dashed #3498db;
}

.bankcards-list .new-card .add {
  display: block;
  font-size: 32px;
  width: 100%;
  color: #3498db;
  line-height: 118px;
  text-align: center;
} */

/* 账户中心的多重选项卡筛选器 */
/* .tabs-filter .nav {
  border-bottom: 2px solid #e9e9e9;
}

.tabs-filter .nav li {
  float: left;
}

.tabs-filter .nav li a {
  display: block;
  font-size: 16px;
  line-height: 40px;
  color: #655641;
  padding: 0 40px;
}

.tabs-filter .nav li a:hover,
.tabs-filter .nav li a.current {
  color: #d56a1a;
  border-bottom: 2px solid #d56a1a;
  margin-bottom: -2px;
}

.tabs-filter .nav li span {
  display: block;
  font-size: 16px;
  line-height: 36px;
  color: #e9e9e9;
  margin: 0 5px;
}

.tabs-filter .thefilter {
  margin: 30px 0;
}

.tabs-filter .thefilter .nav-filter {
  margin: 15px 0;
}

.tabs-filter .thefilter .nav-filter li {
  float: left;
  margin-right: 10px;
}

.tabs-filter .thefilter .nav-filter li a {
  display: block;
  font-size: 13px;
  line-height: 24px;
  color: #747474;
  padding: 0 10px;
  border: 1px solid transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.tabs-filter .thefilter .nav-filter li a:hover,
.tabs-filter .thefilter .nav-filter li a.current {
  background-color: #fafafa;
  border: 1px solid #e9e9e9;
}

.tabs-filter .records-list {
  width: 100%;
  border: 1px solid #e9e9e9;
  font-size: 13px;
  margin-bottom: 10px;
  color: #655641;
}

.tabs-filter .records-list th {
  line-height: 40px;
  text-align: center;
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
}

.tabs-filter .records-list td {
  padding: 20px 0;
  border-bottom: 1px solid #e9e9e9;
}

.tabs-filter .records-list .news-title {
  padding: 10px;
}

.tabs-filter .records-list .news-title a {
  color: #3498db;
}

.tabs-filter .records-list .news-title a:hover {
  color: #217dbb;
}

.tabs-filter .records-list .project {
  padding: 20px;
}

.tabs-filter .records-list .project .avatar {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid #fafafa;
}

.tabs-filter .records-list .project .avatar img {
  width: 100px;
  height: 100px;
}

.tabs-filter .records-list .project .info {
  float: left;
  margin-left: 10px;
  width: 280px;
}

.tabs-filter .records-list .project .info .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #655641;
  margin-bottom: 10px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.tabs-filter .records-list .project .info .title h4 {
  float: left;
  display: inline-block;
  color: #333;
}

.tabs-filter .records-list .project .info .title .willing {
  clear: left;
}

.tabs-filter .records-list .project .info .properties dl {
  float: left;
  margin-right: 30px;
  line-height: 24px;
}

.tabs-filter .records-list .project .info .content {
  font-size: 13px;
  line-height: 24px;
}

.tabs-filter .records-list .project .info .content .willing {
  color: #a7a7a7;
  margin-top: -15px;
  margin-bottom: 10px;
}

.tabs-filter .records-list .project .info .content .comment {
  height: 96px;
  overflow: hidden;
}

.tabs-filter .records-list .project .info .nlp {
  font-size: 13px;
  line-height: 34px;
}

.tabs-filter .records-list .project .info .nlp li .btn {
  margin-left: 5px;
}

.tabs-filter .records-list .project .info .nlp li i {
  color: #a7a7a7;
}

.tabs-filter .records-list .achieved,
.tabs-filter .records-list .status {
  text-align: center;
  line-height: 24px;
}

.tabs-filter .records-list .achieved a,
.tabs-filter .records-list .status a {
  display: inline-block;
  color: #3498db;
  margin: 0 5px;
}

.tabs-filter .records-list .achieved a:hover,
.tabs-filter .records-list .status a:hover {
  color: #217dbb;
}

.tabs-filter .records-list .action {
  text-align: center;
}

.tabs-filter .records-list .action a {
  display: block;
  font-size: 12px;
  color: #3498db;
  line-height: 24px;
}

.tabs-filter .records-list .action a:hover {
  text-decoration: underline;
}

.tabs-filter .records-list .mail {
  padding: 0 20px;
}

.tabs-filter .records-list .mail .mail-content {
  font-size: 13px;
  line-height: 24px;
  color: #747474;
  height: 48px;
  overflow: hidden;
}

.tabs-filter .records-list .mail .actionArea {
  margin-top: 5px;
  text-align: right;
}
 */
/* .records-table {
  border: 1px solid #e9e9e9;
  width: 100%
}

.records-table th {
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  color: #5a5a5a
}

.records-table td {
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #e9e9e9;
  line-height: 20px;
  padding: 20px 10px;
  color: #747474
}

.records-table td .link {
  font-size: 12px;
  color: #3498db
}

.records-table td .link.btn-xs {
  color: #fff
}

.records-table td .link:hover {
  color: #217dbb
}

.records-table a {
  display: inline-block;
  cursor: pointer
} */


.account-main .vice-titlebar {
  margin-top: 20px;
  border-bottom: 1px solid #e9e9e9;
  padding-left: 5px;
  height: 30px;
}

.account-main .vice-titlebar h3 {
  font-size: 16px;
  line-height: 30px;
  color: #655641;
}

.account-main .actionbar {
  margin: 10px 0;
}

.account-main .actionbar .btn-start {
  float: right;
  margin-left: 10px;
}

@CHARSET "UTF-8";

/******************kdMessage start**************/
#kd-ui-message {
  background: #F0F0F0;
  border: 1px solid #BBB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #555;
  margin: 5px;
  min-height: 10px;
  padding: 5px 10px 5px 10px;
  line-height: 1.8;
  font-size: 14px;
  font-family: 微软雅黑;
}

#kd-ui-message.info {
  padding-left: 30px;
  border-color: #9EB6D4;
  background: url(../images/msg-info.png) no-repeat 10px center #E0EFFF;
}

#kd-ui-message.warn {
  padding-left: 30px;
  border-color: #DAC008;
  background: url(../images/msg-warn.png) no-repeat 10px center #FFD;
}

#kd-ui-message.error {
  padding-left: 30px;
  border-color: #DF9898;
  background: url(../images/msg-error.png) no-repeat 10px center #FFE7E7;
}

.kd-message {
  background: #F0F0F0;
  border: 1px solid #BBB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #555;
  margin: 5px;
  min-height: 10px;
  padding: 5px 10px 5px 10px;
  line-height: 1.8;
  font-size: 14px;
  font-family: 微软雅黑;
}

.kd-message.info {
  padding-left: 30px;
  border-color: #9EB6D4;
  background: url(../images/msg-info.png) no-repeat 10px center #E0EFFF;
}

.kd-message.warn {
  padding-left: 30px;
  border-color: #DAC008;
  background: url(../images/msg-warn.png) no-repeat 10px center #FFD;
}

.kd-message.error {
  padding-left: 30px;
  border-color: #DF9898;
  background: url(../images/msg-error.png) no-repeat 10px center #FFE7E7;
}
/******************kdMsg end **************/

/******************kdDialog开始**************/
#kd-ui-dialog-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #282828;
  top: 0;
  left: 0;
}

#kd-ui-dialog-box {
  position: fixed;
  _position: absolute;
  background: #FFF;
  text-align: left;
  border-radius: 6px;
  border: 5px solid #FFF;
  font-family: 微软雅黑;
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#kd-ui-dialog-title {
  position: relative;
  height: 30px;
  overflow: hidden;
  display:none;
}

#kd-ui-dialog-title h2 {
  position: relative;
  left: 10px;
  top: 5px;
  font-size: 14px;
  color: #C70808;
  font-weight: bold;
}

#kd-ui-dialog-close {
  position: absolute;
  opacity: .5;
  filter: alpha(opacity = 50);
  right: 10px;
  top: -4px;
  overflow: hidden;
  background: #FFF;
  cursor: pointer;
  color: #C70808;
  font-size: 22px;
  font-weight: bold;
}

#kd-ui-dialog-close:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}

#kd-ui-dialog-content-border {
  position: relative;
  top: -1px;
  padding: 5px 0 5px 5px;
}

#kd-ui-dialog-content .alert {
  margin: 10px;
  font-size: 14px;
}

#kd-ui-dialog-content .confirm {
  margin: 10px;
  font-size: 14px;
}

#kd-ui-dialog-content img,#kd-ui-dialog-content iframe {
  display: block;
}

#kd-ui-dialog-content .loading {
  position: absolute;
  left: 47%;
  top: 30%;
  margin-left: -8px;
  margin-top: -8px;
}
#kd-ui-dialog-bottom {
  padding: 5px;
  padding-top: 15px;
  text-align: right;
  width: 430px;
}

#kd-ui-dialog-bottom input {
  display: inline-block;
  margin-bottom: 0;
  font-family: "Microsoft Yahei", SimSun, Tahoma, arial, SimHei, sans-serif;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  *overflow: visible;
  padding: 0 16px;
  line-height: 32px;
  font-size: 16px;
  background:#5e8fe6;
  border:1px solid #5e8fe6;
  color:#fff;
}
#kd-ui-dialog-bottom .cancel{
  background:#ccc;
  border:1px solid #ccc;
}
#kd-ui-dialog-bottom input:hover {
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/**********kdDialog结束**********/

/*分页开始*/
/* .pager-info {
  padding: 10px;
}

.pager-info .page_nav {
  text-align: center;
}

.pager-info .page_nav a {
  color: #666;
  width: 32px;
  height: 25px;
  font-size: 12px;
  margin: 0px 3px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #DDD;
  font-family: "Microsoft YaHei", "微软雅黑";
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pager-info .page_nav a:hover {
  background: #FAFAFA;
}

.pager-info .page_nav span {
  color: #787878;
  width: 32px;
  height: 25px;
  font-size: 12px;
  margin: 0px 3px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #DDD;
  font-family: "Microsoft YaHei", "微软雅黑";
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pager-info .page_nav .disabled {
  color: #AFAEAE;
  cursor: default;
  background: #E9E7E7;
  border: 1px solid #D8D8D8;
}

.pager-info .page_nav .curr {
  background: #3371DD;
  border: 1px solid #3371DD;
  color: #FFF;
  font-weight: bold;
}

.pager-info .page_nav .normalsize {
  border: 0;
  width: auto;
  font-size: 14px;
}

.pager-info .page_nav .goto {
  display: inline-block;
  width: 34px;
  height: 18px;
  border: 1px solid #DFDFDF;
  margin: 0px 1px 8px 1px;
  padding: 0px;
  position: relative;
  left: 0px;
  top: 5px;
  
  overflow: visible;
}

.pager-info .page_nav .goto .gotoinput {
  width: 32px;
  height: 16px;
  text-align: center;
  border: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  outline: none;
}

.pager-info .page_nav .goto .gotobutton {
  width: 34px;
  height: 20px;
  line-height: 20px;
  padding: 0px;
  font-family: arial, 宋体, sans-serif;
  text-align: center;
  border: 0px;
  background-color: #F50;
  color: #FFF;
  position: absolute;
  left: 0px;
  top: -1px;
  display: none;
}

.pager-info .page_nav .prev {
  width: 70px;
}

.pager-info .page_nav .next {
  width: 70px;
} */
/*分页结束*/


.floorform {
  width: 100%;
  *zoom: 1;
}
.floorform:after {
  display: table;
  clear: both;
  content: "";
}
.floorform .floor {
  line-height: 40px;
  font-size: 14px;
  margin-bottom: 20px;
  overflow: hidden;
  *zoom: 1;
}
.floorform .floor:after {
  display: table;
  clear: both;
  content: "";
}
.floorform .floor .property {
  float: left;
  width: 132px;
  padding-right: 30px;
  color: #655641;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.floorform .floor label.required:after {
  content: "*";
  font-family: "Microsoft Yahei", Simhei, sans-serif;
  font-size: 16px;
  display: inline-block;
  padding: 0 3px;
  vertical-align: baseline;
  color: red;
}
.floorform .floor .value {
  float: left;
  color: #747474;
  color: #666;
}
.floorform .floor .value select {
  float: left;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  padding: 0 8px;
  color: #666;
  border: 1px solid #dadada;
  margin-right: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.floorform .floor .value input[type=text],
.floorform .floor .value input[type=password],
.floorform .floor .value input[type=date] {
  float: left;
  font-size: 14px;
  line-height: 38px;
  width: auto;
  height: 38px;
  padding: 0 8px;
  color: #666;
  border: 1px solid #cdcdcd;
  margin-right: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.floorform .floor .value input[type=text].long,
.floorform .floor .value input[type=password].long,
.floorform .floor .value input[type=date].long {
  width: 600px;
}
.floorform .floor .value input[type=file] {
  float: left;
  margin-top: 9px;
}
.floorform .floor .value textarea {
  float: left;
  width: 600px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 24px;
  height: 152px;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.floorform .floor .value .tips {
  float: left;
  clear: left;
  font-size: 12px;
  line-height: auto;
  color: #a7a7a7;
  padding: 0 0 0 8px;
}
.floorform .floor .value .radio-option {
  float: left;
  margin-right: 30px;
}
.floorform .floor .value .radio-option input,
.floorform .floor .value .radio-option label {
  vertical-align: middle;
}
.floorform .floor .value .steps-input {
  float: left;
  margin-right: 5px;
}
.floorform .floor .value .steps-input .control {
  float: left;
  width: 38px;
  font-size: 16px;
  color: #655641;
  line-height: 38px;
  text-align: center;
  border: 1px solid #cdcdcd;
}
.floorform .floor .value .steps-input .enter {
  margin: 0;
  z-index: 1;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.floorform .floor .value .steps-input .reduce {
  border-right: none;
  z-index: 0;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.floorform .floor .value .steps-input .add {
  border-left: none;
  z-index: 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.floorform .floor .value .en {
  float: left;
  font-size: 110%;
  margin-right: 2px;
}
.floorform .floor .value span {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
.floorform .agreement {
  margin: 60px 0 0;
  font-size: 13px;
  color: #747474;
  text-align: center;
}
.floorform .agreement label {
  vertical-align: middle;
  color: #747474;
}
.floorform .agreement label a {
  color: #3498db;
}
.floorform .agreement input {
  vertical-align: middle;
}
.floorform .actionArea {
  text-align: center;
  margin: 40px 0;
}
.floorform .actionArea a,
.floorform .actionArea input {
  margin: 0 40px;
}
.floorform .actionArea .btn-prev {
  border-color: #c0c0c0;
}


.learnus {
  float: left;
  margin: 30px 30px 30px 0;
}
.learnus h2 {
  font-size: 24px;
  line-height: 78px;
  color: #000;
}
.learnus ul {
  width: 480px;
}
.learnus ul li {
  float: left;
  width: 240px;
  height: 36px;
  font-size: 14px;
  color: #655641;
}
.learnus ul li i {
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
}
.statis-invest {
  float: right;
  width: 280px;
  margin: 60px 0 30px 0;
  padding: 5px 15px;
  border: 1px dashed #c0c0c0;
  line-height: 50px;
}
.statis-invest li {
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #655641;
}
.statis-invest li i {
  display: inline-block;
  font-size: 22px;
  color: #d56a1a;
  margin-right: 10px;
}
.statis-invest li em {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 0 3px;
}
.card-list-cyan h3 {
  background: url(../images/titlebar_cyan.png) no-repeat 50% 50%;
}
.card-list-cyan h3 i {
  color: #00b7bb;
}
.card-list-red h3 {
  background: url(../images/titlebar_red.png) no-repeat 50% 50%;
}
.card-list-red h3 i {
  color: #cc5262;
}
.section .sidebar-ad {
  display: block !important;
  height: 180px;
}
.section .sidebar-ad img {
  width: 100%;
}
.section .sidebar-ad img {
  height: 180px;
}
.invest-others {
  margin: 30px auto 60px;
}
.invest-others .content {
  float: left;
  width: 68%;
}
.invest-others .content .product {
  margin-bottom: 10px;
}
.invest-others .sidebar {
  float: right;
  width: 30%;
}
.debtducts .debtlist > li {
  margin-bottom: 10px;
  border: 1px solid #e9e9e9;
  padding: 15px 20px 20px;
}
.debtducts .debtlist > li .title {
  height: 60px;
}
.debtducts .debtlist > li .title h3 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.debtducts .debtlist > li .title h3 em {
  font-size: 20px;
  line-height: 40px;
  color: #00b7bb;
  margin-left: -10px;
}
.debtducts .debtlist > li .title h3 a {
  font-size: 22px;
  line-height: 40px;
  color: #655641;
}
.debtducts .debtlist > li .title h3 a:hover {
  color: #080705;
}
.debtducts .debtlist > li .title span {
  font-size: 12px;
  color: #999;
}
.debtducts .debtlist > li .properties {
  margin: 20px 0;
}
.debtducts .debtlist > li .properties li {
  float: left;
  width: 25%;
  font-size: 14px;
  line-height: 34px;
  height: 34px;
  color: #655641;
  overflow: hidden;
}
.debtducts .debtlist > li .properties li span {
  color: #333;
}
.debtducts .debtlist > li .properties li em {
  font-size: 160%;
  font-weight: bold;
  color: #d56a1a;
}
.debtducts .debtlist > li .properties li.rate {
  margin-top: -3px;
}
.debtducts .debtlist > li .properties li.inleader {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.debtducts .debtlist > li .actionArea {
  height: 40px;
  overflow: hidden;
}
.debtducts .debtlist > li .actionArea a {
  float: left;
  margin-right: 30px;
}
.debtducts .debtlist > li .actionArea ul {
  float: left;
}
.debtducts .debtlist > li .actionArea ul li {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  line-height: 40px;
  color: #999;
}
.invShowcase {
  margin-top: 30px;
  margin-bottom: 60px;
}
.invShowcase .invest-products {
  float: left;
}
.invShowcase .sidebar {
  float: right;
  width: 250px;
}
.invShowcase .sidebar .titlebar {
  height: 40px;
}
.invShowcase .sidebar .titlebar h2 {
  line-height: 40px;
}
.details-page {
  margin-top: 20px;
  margin-bottom: 60px;
}
.invest-details .details-section {
  border: 1px solid #e9e9e9;
  margin-bottom: 30px;
}
.invest-details .details-section .titlebar {
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: #fafafa;
  border-bottom: 1px solid #e9e9e9;
}
.invest-details .details-section .titlebar .tag {
  float: left;
  margin: 15px 10px 15px 15px;
  width: 75px;
  background: url(../images/tag.png) no-repeat 50% 50%;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  padding-left: 15px;
}
.invest-details .details-section .titlebar h2 {
  float: left;
  font-size: 24px;
  line-height: 60px;
  color: #655641;
}
.invest-details .details-section .properties {
  padding: 40px 40px 30px;
}
.invest-details .details-section .properties .main {
  height: 90px;
  overflow: hidden;
}
.invest-details .details-section .properties .main dl {
  float: left;
  width: 25%;
  height: 90px;
}
.invest-details .details-section .properties .main dl dt {
  font-size: 24px;
  line-height: 60px;
  vertical-align: text-bottom;
  color: #655641;
}
.invest-details .details-section .properties .main dl dt em {
  font-size: 48px;
  font-weight: bold;
  color: #d56a1a;
}
.invest-details .details-section .properties .main dl dt b {
  display: inline-block;
  font-size: 36px;
  margin-right: 5px;
}
.invest-details .details-section .properties .main dl dd {
  font-size: 14px;
  line-height: 20px;
  color: #777;
  margin-top: -10px;
}
.invest-details .details-section .properties .main dl.rate {
  margin-top: -3px;
}
.invest-details .details-section .properties .extra {
  font-size: 14px;
  line-height: 30px;
  color: #777;
}
.invest-details .details-section .properties .extra li {
  float: left;
  width: 50%;
}
.invest-details .details-section .actionArea {
  padding: 0 40px 40px;
  padding-top: 0;
  /*
      input[type=submit]{
        margin-left: 40px;
      }
      */
}
.invest-details .details-section .actionArea input[type=text] {
  float: left;
  width: 178px;
  height: 38px;
  padding: 0 10px;
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 40px;
}
.invest-details .details-section .actionArea label {
  float: left;
  font-size: 18px;
  line-height: 40px;
  padding: 0 10px;
  color: #666;
}
.invest-details .details-section .tags {
  height: 40px;
  background-color: #fafafa;
  border-top: 1px solid #e9e9e9;
}
.invest-details .details-section .tags li {
  float: left;
  font-size: 12px;
  line-height: 40px;
  color: #999;
  margin-left: 30px;
}
#details_tabs {
  border: 1px solid #e9e9e9;
}
#details_tabs .nav {
  height: 60px;
  border-bottom: 1px solid #e9e9e9;
}
#details_tabs .nav li {
  float: left;
}
#details_tabs .nav li a {
  display: block;
  width: 160px;
  font-size: 18px;
  line-height: 58px;
  color: #655641;
  text-align: center;
  border-right: 1px solid #e9e9e9;
  border-top: 2px solid transparent;
  background-color: #fafafa;
}
#details_tabs .nav li a.current {
  color: #333;
  background-color: #fff;
  border-bottom: 1px solid #fff;
  border-top: 2px solid #d56a1a;
}
#details_tabs .list-wrap {
  padding: 30px;
  height: auto !important;
}
#details_tabs .list-wrap .section {
  margin-bottom: 40px;
}
#details_tabs .list-wrap .section h3 {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding: 5px 10px;
  color: #655641;
  background-color: #F5F5F5;
  margin-bottom: 5px;
}
#details_tabs .list-wrap .section p {
  font-size: 14px;
  line-height: 30px;
  color: #666;
}
#document li i {
  font-size: 16px;
  line-height: 30px;
  color: #999;
}
#document li a {
  font-size: 14px;
  line-height: 30px;
  color: #00b7bb;
}
#document li a:hover {
  text-decoration: underline;
}
#yield span {
  font-size: 14px;
  line-height: 40px;
  color: #999;
}
#yield table {
  width: 100%;
}
#yield table th,
#yield table td {
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #d6d6d6;
}
#yield table th {
  color: #333;
  background-color: #f2f2f2;
}
#yield table td {
  color: #666;
}
/* 产品转让列表 */
.debt-transfer {
  font-size: 14px;
  line-height: 60px;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  color: #655641;
}
.debt-transfer tr {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}
.debt-transfer tr th {
  background-color: #fafafa;
  text-align: center;
  padding: 0 10px;
  line-height: 50px;
  border: 1px solid rgba(192, 192, 192, 0.2);
}
.debt-transfer tr td {
  text-align: center;
  padding: 0 10px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.2);
}
.changbg {
  background-color: #ffffff;
}

/* 发布转让订单 */
.order-transfer {
  margin-bottom: 60px;
  padding: 20px;
}
.order-transfer .bill {
  border-bottom: 1px dashed #c0c0c0;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.order-transfer .bill h3 {
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 20px;
  color: #655641;
}
.order-transfer .bill h3 em {
  color: #00b7bb;
  font-size: 90%;
}
.order-transfer .bill .properties {
  padding: 0 10px;
}
.order-transfer .bill .properties dl {
  float: left;
  width: 50%;
  font-size: 14px;
  line-height: 40px;
}
.order-transfer .bill .properties dl dt {
  float: left;
  width: 30%;
  min-width: 100px;
  color: #655641;
}
.order-transfer .bill .properties dl dd {
  float: left;
  width: 70%;
  color: #847055;
}
.order-transfer .floorform {
  padding: 10px;
}
.order-transfer .floorform .agreement {
  font-size: 13px;
  color: #747474;
  text-align: left;
}
.order-transfer .floorform .actionArea {
  text-align: left;
}
.order-transfer .floorform .actionArea input {
  margin-left: 0;
}
.order-transfer .floorform .floor .value .steps-input input {
  margin-right: 0;
}
.order-page {
  margin-top: 30px;
  margin-bottom: 60px;
}
.order-page .order-board {
  background-color: #fcfcfc;
  padding: 60px 80px;
}
.order-page .order-board .project-name {
  font-size: 28px;
  line-height: 60px;
  margin-bottom: 20px;
  color: #655641;
}
.order-confirm .floorform .actionArea {
  text-align: left;
}
.order-confirm .floorform .actionArea .btn {
  margin-left: 162px;
}

/* .qualification .content {
  font-size: 14px;
  line-height: 30px;
  color: #747474;
}
.qualification .content p {
  margin-bottom: 2em;
}
 */
.order-page {
  margin-top: 30px;
  margin-bottom: 60px
}

.order-page .order-board {
  background-color: #fcfcfc;
  padding: 60px 80px
}

.order-page .order-board .content {
  line-height: 1.5;
}

.order-page .order-board .content p {
  text-indent: 2em;
  margin-bottom: 10px;
}
.order-page .order-board .agreement{
  margin: 10px 0;
}
.order-page .order-board .actionArea{
  text-align: center;
}
.order-page .order-board .project-name {
  font-size: 28px;
  line-height: 60px;
  margin-bottom: 20px;
  color: #655641
}

.order-pay {
  background-color: #fcfcfc;
  padding: 60px;
  border-radius: 0 0 3px 3px
}

.order-pay h3 {
  font-size: 28px;
  line-height: 60px;
  color: #333
}

.order-pay dl {
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 10px;
  *zoom: 1
}

.order-pay dl:after {
  display: table;
  clear: both;
  content: ""
}

.order-pay dl dt {
  float: left;
  width: 128px;
  line-height: 40px;
  color: #655641
}

.order-pay dl dd {
  float: left;
  color: #655641;
  line-height: 40px
}

.order-pay dl dd em {
  font-size: 18px
}

.order-pay dl dd .radio {
  float: left;
  margin-right: 30px
}

.order-pay dl dd>input[type=text] {
  width: 260px;
  font-size: 16px;
  line-height: 24px;
  padding: 7px;
  border: 1px solid #cacaca;
  cursor: text
}

.order-pay dl dd>input[type=text]:focus {
  box-shadow: 1px 1px 3px #ececec inset
}

.order-pay dl dd>input[autofocus] {
  width: auto
}

.order-pay form {
  margin-top: 20px
}

.order-pay form dl {
  margin-bottom: 20px
}

.order-pay form textarea {
  padding: 10px;
  border: 1px solid #c0c0c0;
  font-size: 14px;
  line-height: 24px;
  height: 116px;
  width: 600px
}

.order-pay form .invest-num .control {
  float: left;
  width: 38px;
  font-size: 24px;
  color: #655641;
  line-height: 38px;
  text-align: center;
  border: 1px solid #c0c0c0
}

.order-pay form .invest-num .enter {
  float: left;
  font-size: 16px;
  line-height: 24px;
  padding: 7px;
  border: 1px solid #cacaca;
  cursor: text
}

.order-pay form .invest-num .enter:focus {
  box-shadow: 1px 1px 3px #ececec inset
}

.order-pay form .invest-num span {
  float: left;
  margin-left: 10px
}

.order-pay form .invest-num .reduce {
  border-right: 0;
  border-radius: 3px 0 0 3px
}

.order-pay form .invest-num .add {
  border-left: 0;
  border-radius: 0 3px 3px 0
}

.order-pay form .agreement {
  font-size: 13px;
  line-height: 40px;
  color: #747474;
  padding-left: 127px;
  margin-top: 20px;
  text-align: left
}

.order-pay form .agreement a {
  color: #3498db
}

.order-pay .content p {
  font-size: 14px;
  line-height: 28px;
  color: #747474;
  margin-bottom: 1em
}

.order-pay .agreement {
  text-align: center;
  font-size: 13px;
  line-height: 40px;
  color: #747474;
  margin: 40px 0 10px
}

.order-pay .agreement input {
  vertical-align: middle
}

.order-pay .agreement label {
  vertical-align: middle
}

.order-pay .agreement label a {
  color: #3498db
}

.order-pay .actionArea {
  text-align: center;
  margin-bottom: 40px
}

.order-pay .actionArea .btn {
  margin: 0 20px
}

.order-details .order-board {
  padding: 60px
}

.order-details .order-board .project-name {
  margin-bottom: 20px
}

.order-details .order-board .details .floorform {
  float: left;
  width: 70%
}

.order-details .order-board .details .actionArea {
  float: right
}

.account-info {
  padding: 40px 0 20px;
  border-top: 1px solid #ececec
}

.account-info h4 {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px
}

.account-info h4 span {
  font-size: 13px;
  color: #747474
}

.account-info li {
  float: left;
  width: 24.8%;
  height: 30px;
  border-left: 1px solid #fafafa;
  overflow: hidden;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #fff
}

.account-info li img {
  height: 30px
}

.account-info li a {
  color: #3498db
}

.account-info li a:hover {
  text-decoration: underline
}

.order-pay .num_paid {
  padding-bottom: 40px;
  line-height: 30px;
  font-size: 28px;
  color: #655641
}

.order-pay .num_paid em {
  color: #d56a1a;
  display: inline-block;
  margin-right: 5px;
  font-size: 30px
}

.order-pay .num_paid .tips {
  font-size: 12px;
  line-height: 30px;
  color: #a7a7a7
}

.order-pay .bill {
  padding: 30px 0;
  border-bottom: 1px dotted #ccc
}

.order-pay .bill dl {
  *zoom: 1;
  font-size: 14px;
  line-height: 50px;
  clear: both
}

.order-pay .bill dl:after {
  display: table;
  clear: both;
  content: ""
}

.order-pay .bill dl dt {
  float: left;
  width: 70px;
  text-align: right;
  margin-right: 30px;
  color: #655641
}

.order-pay .bill dl dd {
  float: left;
  color: #655641
}

.order-pay .bill dl dd em {
  font-size: 14px;
  margin-right: 3px
}

.order-pay .pay-method {
  padding: 0 0 30px
}

.order-pay .pay-method h3 {
  font-size: 20px;
  line-height: 60px;
  color: #655641
}

.order-pay .pay-method h3 span {
  font-size: 14px;
  color: #a7a7a7
}
#TPD,
#OB {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  padding: 20px 0;
  margin-bottom: 20px;
}
#TPD .option,
#OB .option {
  padding: 0 0 20px 20px;
}
#TPD .option label,
#OB .option label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
#TPD ul {
  padding-left: 40px;
}
#TPD ul li {
  line-height: 40px;
  font-size: 14px;
  margin-bottom: 15px;
  *zoom: 1;
}
#TPD ul li:after {
  display: table;
  clear: both;
  content: "";
}
#TPD ul li em {
  color: #d56a1a;
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
}
#TPD ul li input {
  width: 200px;
  font-size: 16px;
  line-height: 24px;
  padding: 7px;
  border: 1px solid #d0d0d0;
  background-color: #fafafa;
  margin-right: 5px;
  cursor: text;
}
#TPD ul li:focus {
  border-color: #d56a1a;
  background-color: #fff;
}
#TPD ul .account {
  height: 20px;
  padding: 10px 0;
  line-height: 20px;
}
#TPD ul .account img {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#TPD ul .account span {
  float: left;
}
#OB .payment {
  padding: 0 40px;
}
#OB .payment h4 {
  font-size: 14px;
  line-height: 30px;
}
#OB .payment .options {
  margin-top: 5px;
}
#OB .payment .options a {
  position: relative;
  width: 126px;
  height: 38px;
  margin: 0 10px 15px 0;
  border: 1px solid #ececec;
  float: left;
}
#OB .payment .options a img {
  width: 126px;
  height: 38px;
}
#OB .payment .options a i {
  display: none;
  position: absolute;
  bottom: -6px;
  right: -5px;
  font-size: 22px;
  color: #d56a1a;
}
#OB .payment .options:hover {
  border-color: #e9e9e9;
}
#OB .payment .options .selected {
  border-color: rgba(192, 192, 192, 0.9);
}
#OB .payment .options .selected i {
  display: block;
}
#OB .payment .options .mrzero {
  margin-right: 0;
}
#OB .payment .options li label {
  width: 128px;
  height: 42px;
}
#OB .payment .options li label img {
  width: 126px;
  height: 40px;
  border: 1px solid #ccc;
}
#OB .payment .options li input {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -6px;
}
#OB .payment .num {
  margin-top: 20px;
  height: 40px;
  font-size: 14px;
}
#OB .payment .num label {
  font-size: 14px;
  line-height: 40px;
}
#OB .payment .num input {
  width: 200px;
  line-height: 24px;
  padding: 7px;
  border: 1px solid #cacaca;
  background-color: #fafafa;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 16px;
}
#OB .payment .num input:focus {
  border-color: #d56a1a;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 3px #ececec inset;
  -moz-box-shadow: 1px 1px 3px #ececec inset;
  box-shadow: 1px 1px 3px #ececec inset;
}
/* 回款账户 */
.account-info {
  margin: 20px 40px;
  padding: 20px 0;
  border-top: 1px solid #ececec;
}
.account-info h4 {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
.account-info h4 span {
  font-size: 13px;
  color: #747474;
}
.account-info li {
  float: left;
  width: 24.8%;
  height: 30px;
  border-left: 1px solid #fafafa;
  overflow: hidden;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #ffffff;
}
.account-info li img {
  margin-top: 5px;
}
.account-info li a {
  color: #3498db;
}
.account-info li a:hover {
  text-decoration: underline;
}
.order-pay .pay-method .action-btn {
  margin-top: 20px;
  padding-left: 40px;
}
.order-pay .pay-method .action-btn input {
  margin-right: 20px;
}
.order-pay .pay-method .action-btn input[onclick] {
  color: #655641;
  background-color: transparent;
}
.order-pay .pay-method .action-btn input[type=button]:hover {
  color: #080705;
}


/* kasp */
.tag-titlebar {
  border-bottom: 2px solid #ccc;
  height: 40px;
  margin-bottom: 15px
}

.tag-titlebar h2 {
  width: 160px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border-bottom:2px solid #ff642c;
}

.sidebar .myaccount {
  margin-bottom: 10px;
  border: 1px solid #e9e9e9
}

.sidebar .myaccount h3 {
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px solid #e9e9e9;
  padding-left: 10px;
  background-color: #fafafa;
  color: #655641
}

.sidebar .myaccount .details {
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #655641
}

.sidebar .myaccount .details dl {
  margin-bottom: 5px
}

.sidebar .myaccount .details dl dd {
  font-size: 18px;
  /*text-indent: 2em*/
}

.sidebar .myaccount .actionArea {
  padding: 0 20px 20px 20px
}

.sidebar .myaccount .actionArea .recharge {
  float: left
}

.sidebar .myaccount .actionArea .withdraw {
  float: right
}

.steps-input a {
  float: left;
  width: 38px;
  font-size: 18px;
  color: #655641;
  line-height: 38px;
  text-align: center;
  border: 1px solid #c0c0c0;
  background-color: #fafafa
}

.steps-input input {
  float: left;
  font-size: 16px;
  line-height: 24px;
  height:24px;
  padding: 7px;
  margin:0;
  border: 1px solid #cacaca;
  cursor: text
}

.steps-input input:focus {
  box-shadow: 1px 1px 3px #ececec inset
}

.steps-input span {
  float: left;
  display: inline-block;
  margin-left: 10px
}

.steps-input .less {
  border-right: 0;
  border-radius: 3px 0 0 3px
}

.steps-input .more {
  border-left: 0;
  border-radius: 0 3px 3px 0
}
.sidebar .titlebar {
  width: 100%;
  height: 36px;
  background-color: #fafafa;
  border-bottom: 1px solid #e9e9e9
}

.sidebar .titlebar h2 {
  float: left;
  font-size: 18px;
  line-height: 36px;
  margin-left: 10px;
  color: #655641
}

.sidebar .titlebar .btn-more {
  float: right;
  margin-right: 10px;
  margin-top: 7px
}

.sidebar .news-list {
  margin-bottom: 10px
}

.sidebar .news-list ul {
  padding: 10px
}

.sidebar .news-list ul li {
  width: 96%;
  font-size: 13px;
  line-height: 36px;
  color: #888;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all
}

.sidebar .news-list ul li a {
  color: #8d8d8d;
  line-height: 30px
}

.sidebar .news-list ul li a:hover {
  color: #655641
}

.sidebar .news-list ul li i {
  font-size: 20%
}

.sidebar .news-list ul li span {
  float: left
}

.sidebar .news-list ul li .number {
  float: left;
  width: 10%;
  padding: 0 5%;
  font-weight: bold;
  color: #d56a1a
}

.sidebar .news-list ul li .name {
  float: left;
  width: 30%;
  padding: 0 5px
}

.sidebar .news-list ul li .amount {
  float: right;
  width: 40%;
  text-align: right;
  padding-right: 5%
}
.sidebar .section {
  margin-bottom: 10px;
  border: 1px solid #e9e9e9
}


.tabs-adjust .nav {
  width: 100%;
  font-size: 16px;
  height: 36px;
  margin-bottom: 10px;
  *zoom: 1
}

.tabs-adjust .nav:after {
  display: table;
  clear: both;
  content: ""
}

.tabs-adjust .nav li {
  float: left;
  width: 33.2%
}

.tabs-adjust .nav li a {
  display: block;
  color: #666;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #e9e9e9;
  border-left: none;
  border-radius: 3px 3px 0 0;
  background-color: #fafafa
}

.tabs-adjust .nav li a:hover {
  color: #d56a1a;
  background-color: #fff
}

.tabs-adjust .nav li a.current {
  color: #fff;
  background-color: #d56a1a;
  border-color: #d56a1a
}

.tabs-adjust .nav .nav-one a {
  border: 1px solid #e9e9e9
}

.tabs-adjust .nav .nav-one a.current {
  border-color: #d56a1a
}

.tabs .nav {
  width: 100%;
  font-size: 18px;
  height: 40px;
  border-bottom: 2px solid #d56a1a;
  *zoom: 1
}

.tabs .nav:after {
  display: table;
  clear: both;
  content: ""
}

.tabs .nav li {
  float: left
}

.tabs .nav li a {
  display: block;
  padding: 0 60px;
  color: #666;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #e9e9e9;
  border-left: none;
  border-radius: 3px 3px 0 0;
  background-color: #fafafa
}

.tabs .nav li a:hover {
  color: #d56a1a;
  background-color: #fff
}

.tabs .nav li a.current {
  color: #fff;
  background-color: #d56a1a;
  border-color: #d56a1a !important
}

.tabs .nav .nav-one a {
  border: 1px solid #e9e9e9
}

.tabs .nav .nav-one a.current {
  border-color: #d56a1a
}


#awesomeform {
  *zoom: 1;
  padding: 20px;
}

#awesomeform:after {
  display: table;
  clear: both;
  content: ""
}

#awesomeform .line {
  width: 100%;
  padding: 10px 0;
  *zoom: 1
}

#awesomeform .line:after {
  display: table;
  clear: both;
  content: ""
}

#awesomeform .line .property {
  float: left;
  font-size: 14px;
  line-height: 60px;
  min-width: 130px;
  color: #655641
}

#awesomeform .line .value {
  float: left;
  font-size: 14px;
  line-height: 60px;
  color: #847055
}

#awesomeform .line .value input[type=text],
#awesomeform .line .value input[type=password],
#awesomeform .line .value select {
  width: 700px;
  height: 38px;
  border: 1px solid #c0c0c0;
  padding: 0 10px;
  font-size: 14px;
  margin-top: 10px;
  color: #000;
  border-radius: 2px
}

#awesomeform .line .value select {
  width: auto
}

#awesomeform .line .value .radio {
  display: inline-block;
  margin-right: 30px
}

#awesomeform .line .value .input-wrap .tips {
  font-size: 13px
}

#awesomeform .line .value .thumbnail {
  position: relative;
  padding: 0;
  border: none;
  margin-bottom: 20px;
  border-radius: 0;
  overflow: hidden
}

#awesomeform .line .value .thumbnail span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px
}

#awesomeform .line .value .firstscreens {
  width: 400px;
  height: 220px
}

#awesomeform .line .value .firstscreens span {
  line-height: 220px
}

#awesomeform .line .value .firstscreens img {
  width: 400px;
  height: 220px
}

#awesomeform .line .value .projects {
  width: 650px;
  height: 220px
}

#awesomeform .line .value .projects span {
  line-height: 220px
}

#awesomeform .line .value .projects img {
  width: 650px;
  height: 220px
}

#awesomeform .line .value .mobile {
  width: 600px;
  height: 288px
}

#awesomeform .line .value .mobile span {
  line-height: 288px
}

#awesomeform .line .value .mobile img {
  width: 600px;
  height: 288px
}

#awesomeform .line .value textarea {
  width: 700px;
  height: 168px;
  padding: 0 10px;
  border: 1px solid #c0c0c0;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: #000;
  resize: none;
  border-radius: 2px
}

#awesomeform .line .tag-cloud {
  float: left;
  width: 80%;
  padding-top: 7px
}

#awesomeform .line .tag-cloud a {
  display: inline-block;
  float: left;
  font-size: 12px;
  line-height: 24px;
  margin: 10px 10px 0 0;
  padding: 0 6px;
  background-color: #fafafa;
  border: 1px solid #e9e9e9;
  color: #747474
}

#awesomeform .line .tag-cloud a:hover {
  border-color: #3498db
}

#awesomeform .line .tag-cloud .chosen {
  color: #fff;
  background-color: #3498db
}

#awesomeform .line .steps-input {
  float: left;
  height: 40px;
  margin-top: 10px
}

#awesomeform .line .steps-input input[type=text] {
  margin-top: 0;
  width: 200px
}

#awesomeform .line .steps-input span {
  line-height: 40px
}

#awesomeform .agreement {
  font-size: 14px;
  margin: 40px 0 40px 0
}

#awesomeform .agreement a {
  color: #847055
}

#awesomeform .actionArea>input+input {
  margin-left: 20px
}

#awesomeform .nextstep {
  text-align: center;
  padding: 30px 0
}
.form-warm-prompt-title{
  color: #D56A1A;
  display: block;
  margin-bottom: 10px;
}
.form-warm-prompt-con{
  line-height: 1.5;
  font-size: 14px;
}

.account-tips{
  border: 1px solid #F5CF7F;
  padding: 19px;
  background-color: #FDFCE7;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 20px;
}


.list-page {
  margin-top: 20px;
  margin-bottom: 20px
}

.list-page .main {
  float: left;
  width: 75%
}

.list-page .sidebar {
  float: right;
  width: 23%
}

.list-page .sidebar .section {
  margin-bottom: 10px;
  border: none
}

.list-page .sidebar .section .titlebar {
  width: 100%;
  height: 36px
}

.list-page .sidebar .section .titlebar h2 {
  float: left;
  font-size: 16px;
  line-height: 36px;
  margin-left: 10px;
  color: #655641
}

.list-page .sidebar .section .titlebar .btn-more {
  float: right;
  margin-right: 10px;
  margin-top: 0
}

.list-page .sidebar .section .titlebar .hot {
  color: #ee3049;
  font-size: 24px;
  float: left;
  margin-left: 5px;
  line-height: 30px
}

.list-page .sidebar .section ul {
  padding: 5px
}

.list-page .sidebar .section ul li {
  border-bottom: 1px dotted #e9e9e9;
  width: 100%
}
.thefilter .nav-filter {
  font-size: 14px;
}
.thefilter .nav-filter .value{
  display: inline-block;
  
}
.thefilter .nav-filter .value a{
  display: inline-block;
  height: 21px;
  padding:0 5px;
  line-height: 20px;
}
.thefilter .nav-filter .value a.chosen{
  background-color: #3E87C7;
  color: #fff;
  border-radius:3px;
}

.breadcrumb {
  padding-left: 5px;
  height: 40px;
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
  overflow: hidden
}

.breadcrumb li {
  float: left;
  font-size: 12px;
  line-height: 40px;
  color: #747474
}

.breadcrumb li i {
  display: inline-block;
  padding: 0 5px;
  line-height: 40px
}

.breadcrumb>li+li:before {
  padding: 0;
  color: transparent;
  content: "";
  display: none
}

.breadcrumb .active {
  color: #a7a7a7
}

.simple-titlebar {
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 20px;
  *zoom: 1
}

.simple-titlebar:after {
  display: table;
  clear: both;
  content: ""
}

.simple-titlebar .title {
  float: left;
  font-size: 18px;
  line-height: 40px;
  margin-left: 5px;
  color: #655641
}


.panel-info {
  margin-bottom: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 2px
}

.panel-info .titlebar {
  height: 40px;
  background-color: #fafafa;
  border-bottom: 1px solid #e9e9e9
}

.panel-info .titlebar .title {
  float: left;
  font-size: 18px;
  line-height: 40px;
  color: #747474;
  margin-left: 10px
}

.panel-info .nav {
  padding: 20px;
  font-size: 14px;
  height: 30px
}

.panel-info .nav>li {
  float: left
}

.panel-info .nav>li>a {
  color: #747474;
  width: auto;
  line-height: 24px;
  border: 1px solid transparent;
  padding: 0 10px;
  margin: 0 5px
}

.panel-info .nav>li>a:hover,
.panel-info .nav>li>a.current,
.panel-info .nav>li>a:focus {
  color: #e1680e;
  background-color: transparent !important
}

.panel-info .table-wrap {
  padding: 0 20px 20px 20px
}

.panel-info .table-wrap .records-list {
  width: 100%
}

.panel-info .table-wrap .records-list tr {
  height: 40px;
  border-bottom: 1px dotted #c0c0c0
}

.panel-info .table-wrap .records-list tr th {
  font-size: 13px;
  line-height: 40px;
  color: #5a5a5a;
  text-align: center;
  background-color: #fcfcfc;
  border: 1px solid #e9e9e9
}

.panel-info .table-wrap .records-list tr td {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #747474;
  padding: 20px 10px
}

.panel-info .table-wrap .records-list tr td .link {
  color: #3498db
}

.panel-info .table-wrap .records-list tr td .link:hover {
  color: #217dbb
}

.panel-info .table-wrap .records-list tr .trade-note {
  text-align: left
}

.panel-info .table-wrap .records-list tr .num {
  text-align: right
}


.process-cells {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 2px
}

.process-cells td {
  font-size: 16px;
  line-height: 40px;
  color: #747474;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  cursor: default
}

.process-cells .current {
  color: #fff;
  background-color: #ccc;
  border: 1px solid #ccc
}


.main {
  float: none;
  width: auto;
  margin: auto;
}

.main .account_register {
	width: 960px;
	margin: 50px auto;
}

.account_register>div {
  background-color: #fff;
  border: 1px solid #f0f0f0
}

.account_register>div .tips {
  font-size: 13px;
  line-height: 24px;
  color: #a7a7a7;
}

.account_register>div .tips i {
  font-size: 16px;
  line-height: 24px;
  color: #747474
}

.account_register>div form {
  padding: 40px
}

.account_register>div form ul li {
  height: 60px;
  color: #666
}

.account_register>div form ul li label {
  font-size: 14px;
  line-height: 28px;
  height:28px;
  font-weight: normal;
  display: inline-block;
  width: 100px;
}

.account_register>div form ul li .question_tip {
  font-size: 16px;
  width: 120px;
}

.account_register>div form ul li .question_val {
	font-size: 16px;
  width: 700px;
  color: #333;
}

.account_register>div form ul li input[type=text],
.account_register>div form ul li input[type=password],
.account_register>div form ul li select {
  font-size: 16px;
  line-height: 36px;
  height: 36px;
  color: #000;
  padding: 0 6px;
  border: 1px solid #cacaca;
  width: 320px;
  border-radius: 2px
}
.account_register>div form ul li select{
  padding:6px 6px;
}
.account_register>div form ul li select {
  cursor: default;
  width: 332px
}

.account_register>div form ul li #captcha {
  width: 120px
}

.account_register>div form ul li .get_captcha {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 15px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #999;
  color: #fff;
  vertical-align: top
}

.account_register>div form ul li .captcha_sent {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 15px;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: transparent;
  color: #999;
  vertical-align: top
}

.account_register>div form ul li .captcha_sent:hover {
  background-color: #888
}

.account_register>div form ul .agreement {
  height: 60px;
}

.account_register>div form ul .agreement label {
  display: inline;
  line-height: 40px;
  font-weight: normal
}

.account_register>div form ul .agreement label a {
  color: #a7a7a7
}

.account_register .user-type {
  background-color: #fff;
  border: none
}

.account_register .user-type>a {
  width: 200px;
  height: 60px;
  margin: 140px 0;
  color: #747474;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px
}

.account_register .user-type>a:hover {
  background-color: #d56a1a;
  border-color: #cc6519;
  color: #fff
}

.account_register .user-type .personal {
  float: left;
  margin-left: 200px
}

.account_register .user-type .organized {
  float: right;
  margin-right: 200px
}

.account_register .user-type .personal-account {
  padding: 40px;
  background-color: #fff;
  padding-top: 10px;
}

.account_register .user-type .personal-account h3 {
  font-size: 18px;
  line-height: 60px;
  color: #655641;
  font-weight: bold
}

.account_register .user-type .personal-account ul {
  /*padding-left: 10px;*/
  /*margin-bottom: 40px;*/
}

.account_register .user-type .personal-account ul li {
  height: 60px;
  font-size: 14px
}

.account_register .user-type .personal-account ul li label {
  line-height: 28px;
  height:28px;
  font-weight: normal;
  display: inline-block;
  width: 120px;
  color: #655641;
  text-align:right;
  padding-right:20px;
}

.account_register .user-type .personal-account ul li input {
  width: 320px
}

.account_register .user-type .personal-account ul .tieonBanks {
  height: auto
}

.account_register .user-type .personal-account ul .tieonBanks a {
    position: relative;
    float: left;
    width: 200px;
    height: 60px;
	line-height: 50px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    margin: 0 18px 20px 0;
    text-align: center;
    padding: 4px 0;
}

.account_register .user-type .personal-account ul .tieonBanks a:hover {
    padding: 2px 0;
    height: 60px;
    line-height: 50px;
    border: 3px solid #ff6501;
	border-radius: 3px;
}

.account_register .user-type .personal-account ul .tieonBanks a:nth-child(4n) {
  margin-right: 0
}

.account_register .user-type .personal-account ul .tieonBanks a img {
  width: 126px;
  height: 36px
}

.account_register .user-type .personal-account ul .tieonBanks a i {
  display: none;
  position: absolute;
  bottom: -6px;
  right: -5px;
  font-size: 22px;
  color: #f80
}

.account_register .user-type .personal-account ul .tieonBanks .selected {
  padding: 5px 0 !important;
  height: 60px;
  line-height: 50px;
  border: 0 !important;
  background-image: url("../images/checked.png");
}

.account_register .user-type .personal-account ul.banks {
  margin-bottom: 40px
}

.account_register .user-type .personal-account .actionArea {
  width: 100%;
  height: 40px;
  margin: 0px 0 40px;
  *zoom: 1
}

.account_register .user-type .personal-account .actionArea:after {
  display: table;
  clear: both;
  content: ""
}

.account_register .user-type .personal-account .actionArea .back {
  float: left;
  margin-left: 240px
}

.account_register .user-type .personal-account .actionArea .continue {
  float: right;
  margin-right: 240px
}

.account_register .risk_assessment {
  width: 878px;
  padding: 40px;
  background-color: #fff
}

.account_register .risk_assessment .description {
  font-size: 13px;
  line-height: 24px;
  color: #747474;
  margin-bottom: 20px
}

.account_register .risk_assessment .description i {
  font-size: 16px;
  line-height: 24px;
  color: #666
}

.account_register .risk_assessment .assess-survey {
  padding: 20px 0;
  float: none
}

.account_register .risk_assessment .assess-survey dl {
  height: 70px;
  margin-bottom: 20px;
  clear: both
}

.account_register .risk_assessment .assess-survey dl dt {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  color: #655641
}

.account_register .risk_assessment .assess-survey dl dd {
  float: left;
  font-size: 13px;
  line-height: 40px;
  color: #333;
  width: 25%
}
.account_register .risk_assessment .assess-survey dl.long{
  height:auto;
}
.account_register .risk_assessment .assess-survey dl.long dd{
  float:none;
  width:100%;
}
.account_register .risk_assessment .assess-survey .agreement {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  padding-top: 20px
}

.account_register .risk_assessment .assess-survey .agreement a {
  color: #666
}

.account_register .risk_assessment .assess-survey .actionArea {
  padding-top: 20px
}

.account_register .risk_assessment .assess-survey .actionArea .btn {
  margin-left: 330px
}